$square-width: 180px

.logo
  display: inline-block
  vertical-align: top
  +hide-text
  width: $square-width
  height: $square-width
  line-height: $square-width
  text-align: center
  background: $red
  &:before
    content: ""
    display: inline-block
    vertical-align: middle
    +sprite(logo)

.logo_small
  width: ($square-width / 2)
  height: ($square-width / 2)
  line-height: ($square-width / 2)
  &:before
    +sprite(logo-small)



.sqr
  width: $square-width
  height: $square-width
  box-sizing: border-box

.sqr_center
  +vertical
  white-space: nowrap

.sqr__inner
  display: inline-block
  vertical-align: middle
  white-space: normal
  font-size: 16px

.sqr_2x
  width: ($square-width * 2)
  height: ($square-width * 2)
  +resize
    width: 271px
    height: 270px

.sqr_w2
  width: ($square-width * 2)

.sqr_red
  background: $red

.sqr_dark
  background: $dark4

.sqr_btn
  display: block
  padding: 10px
  background: $dark4
  color: #FFF
  color: rgba(#FFF, 0.1)
  line-height: 1.5
  strong
    display: block
    margin: 15px 0 9px
    font-size: 12px
    text-transform: uppercase
    color: #FFF
    color: rgba(#FFF, 0.4)
    letter-spacing: 0.1em
    +heavy

  .sqr__inner
    font-size: 12px
    line-height: 1.5
    letter-spacing: 0.05em

.sqr_bottom
  .sqr__inner
    vertical-align: bottom
    min-height: 180px
    line-height: 180px

.sqr_promo
  background: no-repeat center center
  background-size: cover
  position: relative
  .sqr_icon
    position: absolute
    bottom: 0
    right: 0

.sqr_icon
  background: #FFF
  padding: 30px 20px 20px 30px
  +regular
  font-size: 12px
  line-height: 1.66
  color: #414E5A
  color: rgba(#414E5A, 0.9)
  .icon
    display: block
    margin-bottom: 15px
  +resize
    width: 135px
    height: 135px
    padding: 15px 10px 10px 15px
    .icon
      margin-bottom: 5px



.icon
  display: inline-block
  vertical-align: baseline
  background-color: transparent


.big-title
  display: block
  +bold
  font-size: 56px
  line-height: 1
  text-transform: uppercase
  color: #FFF

.big-title_shadow
  text-shadow: 0 2px 30px rgba(16, 34, 49, 0.75)


div.clearfix
  display: table
  clear: both

.clearfix
  +clr


.b
  width: 1080px
  min-height: 360px
  clear: both
  +resize
    width: 934px
    min-height: 0

.b_3
  margin-left: -360px
.b_2
  margin-left: -180px
.b_1
  margin-left: -90px

.b_r
  float: right
  &.b_3
    margin-right: -360px
  &.b_2
    margin-right: -180px
  &.b_1
    margin-right: -90px



.button
  display: inline-block
  vertical-align: top
  position: relative
  background: #FFF
  height: 90px
  padding: 0 10px
  text-align: center
  -webkit-appearance: none
  +medium
  font-size: 18px
  line-height: 1.5
  text-transform: uppercase
  letter-spacing: -0.03em
  color: $red
  overflow: hidden
  +trans-button(color)

  &:after
    content: ""
    position: absolute
    z-index: 0
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: $red
    +trans-button(all)
    transform: translate3d(-100%,0,0)
    visibility: hidden

  .icon-arr
    display: inline-block
    vertical-align: middle
    margin: -1px 0 0 10px
    +trans-button(transform)
    position: relative
    z-index: 1

  .icon-arr-left
    display: inline-block
    vertical-align: middle
    margin: -1px 10px 0 0
    +trans-button(transform)
    position: relative
    z-index: 1

  &:hover, &:focus
    color: #FFF
    .icon-arr
      transform: translateX(40px)
    .icon-arr-left
      transform: translateX(-40px)
    &:after
      visibility: visible
      transform: translate3d(0,0,0)

.button__text
  display: inline-block
  vertical-align: middle
  color: inherit
  position: relative
  z-index: 1

a.button
  line-height: 90px
  text-decoration: none
  &:hover
    text-decoration: none

.button_vert
  width: 90px
  height: 100%
  min-height: 100px
  .button__text
    position: absolute
    top: 50%
    left: 50%
    white-space: nowrap
    transform-origin: center center
    transform: translate3d(-50%,-50%,0) rotate(-90deg)

.button_red
  background: $red
  color: #FFF
  &:after
    background: $red2
  &:hover, &:focus
    color: #FFF

.button_w450
  width: 450px

.button_sqr
  vertical-align: top
  box-sizing: border-box
  width: 180px
  height: 180px
  padding: 10px
  background: $red
  color: #FFF
  line-height: 1.667
  +vertical
  white-space: nowrap
  +trans-link(background)
  strong
    display: block
    font-size: 12px
    text-transform: uppercase
    letter-spacing: 0.1em
    +heavy
  .icon
    margin-bottom: 15px


.button__inner
  position: relative
  z-index: 1
  display: inline-block
  vertical-align: middle
  font-size: 12px
  white-space: normal
  line-height: normal

.button_prev,
.button_next
  width: 50%
  color: #FFF
  background: $dark no-repeat center center
  background-size: cover
  &:after
    display: none
  &:hover
    color: $red

.button_prev
  &:hover
    .icon-arr-left
      +sprite(arr-left-red)

.button_next
  background-image: url('../img/button-bg.jpg')
  &:hover
    .icon-arr
      +sprite(arr-red)

.button_fw
  display: block
  width: 100%
  box-sizing: border-box




.title
  display: block
  margin-bottom: 23px
  font-size: 24px
  line-height: 1.42
  text-transform: uppercase
  +medium
  color: $dark-title
  letter-spacing: -0.03em
  color: #414E5A

.bold-title
  display: block
  margin-bottom: 30px
  +bold
  font-size: 32px
  line-height: 1.1
  color: $dark-title
  text-transform: uppercase
  letter-spacing: -0.02em

.subtitle
  display: block
  margin-top: 25px
  +medium
  color: $dark-text
  font-size: 18px
  line-height: 1.333
  &:first-child
    margin-top: 0


.head
  margin: 100px 0 45px
  .title
    margin-bottom: 23px
  .subtitle
    margin-top: 23px

.head_first
  margin-top: 52px

.head_no-mrg-top
  margin-top: 0


.number
  display: inline-block
  vertical-align: middle
  text-align: center
  sup
    vertical-align: super
    font-size: 27px

.number__big
  display: block
  +light
  font-size: 54px
  font-style: normal
  line-height: 1
  letter-spacing: -0.04em
  color: $dark

.number__small
  display: block
  margin-top: 7px
  font-size: 12px
  line-height: 1.5
  +regular
  font-style: italic
  color: $dark-text
  color: rgba($dark-text, 0.5)

.number_light
  .number__big
    color: #FFF
  .number__small
    color: #FFF
    color: rgba(#FFF, 0.5)

.number_red
  .number__big
    color: $red

.number_red-mod
  text-align: left
  .number__big
    color: $red
  .number__small
    font-size: 13px
    color: rgba($dark-text, 0.9)
    line-height: 1.53

.numbers-group
  font-size: 0
  margin-bottom: -50px
  .number
    display: inline-block
    vertical-align: top
    width: 50%
    margin-bottom: 50px




.contacts
  line-height: 1.5
  color: #FFF
  font-size: 12px
  +medium

.contacts__label
  display: block
  margin-bottom: 15px
  +regular
  font-size: 12px
  color: rgba(#FFF, 0.5)

.contacts__phone
  display: block
  font-size: 24px
  letter-spacing: -0.04em
  text-decoration: none
  color: #FFF
  +light
  a
    text-decoration: none
    color: inherit

.contacts__email
  display: block
  margin-top: 15px
  color: #FF4043
  text-decoration: none
  a
    color: inherit
    text-decoration: none
    &:hover
      text-decoration: underline

a.contacts__email:hover
  text-decoration: underline

.contacts_mod
  display: inline-block
  vertical-align: top
  width: 300px
  color: $dark-text
  font-size: 18px
  .contacts__label
    margin-bottom: 7px
    text-transform: uppercase
    color: $dark-text
    color: rgba($dark-text, 0.8)
  .contacts__phone
    color: inherit
    +medium
    font-size: inherit
  .contacts__email
    margin-top: 0


.contacts-group
  margin-top: 50px
  & + &
    margin-top: 65px




.line-marked-list
  margin-bottom: -45px
  list-style-type: none
  box-sizing: border-box
  li
    position: relative
    padding-left: 55px
    margin-bottom: 45px
    font-size: 13px
    box-sizing: border-box
    +regular
    font-style: italic
    color: $dark-text
    line-height: 1.54
    &:before
      content: ""
      position: absolute
      top: 0.7em
      left: 0
      width: 28px
      height: 2px
      background: #D12023

.line-marked-list_half
  font-size: 0
  li
    display: inline-block
    vertical-align: top
    width: 50%
    padding-right: 30px



.number-list
  font-size: 0
  margin: 0 -30px -35px
  counter-reset: number-list
  li
    display: inline-block
    vertical-align: top
    width: 50%
    padding: 0 30px
    margin-bottom: 35px
    box-sizing: border-box
    font-size: 13px
    position: relative
    counter-increment: number-list
    box-sizing: border-box

.number-list__title
  display: block
  text-transform: uppercase
  margin-bottom: 12px

.number-list__num
  display: block
  margin-bottom: 10px
  +light
  font-size: 54px
  line-height: 1
  color: $red

.number-list_counter
  li
    &:before
      content: '0' counter(number-list)
      display: block
      margin-bottom: 10px
      +light
      font-size: 54px
      line-height: 1
      color: $red


.important-text
  display: block
  margin: 65px 0
  padding: 50px 25px
  border: 5px solid $red
  text-align: center
  font-style: italic
  font-weight: bold
  +regular
  font-size: 14px
  line-height: 1.714
  &:first-child
    margin-top: 0
  &:last-child
    margin-bottom: 0


.bold-red
  +heavy
  color: $red
  font-style: normal


.buttons-group
  margin-top: 55px


.download-button
  display: inline-block
  width: 150px
  vertical-align: top
  text-transform: uppercase
  color: $red
  font-size: 12px
  line-height: 1.667
  +heavy
  letter-spacing: 0.1em
  text-decoration: none
  +trans-link

  .icon
    display: block
    margin-bottom: 20px

  .icon-pdf-shadow
    background: none
    position: relative
    &:before
      content: ""
      display: block
      +sprite(pdf-shadow)
      +trans-link(opacity)
    &:after
      opacity: 0
      content: ""
      position: absolute
      top: 0
      left: 0
      +trans-link(opacity)
      +sprite(pdf-shadow-h)

  &:hover
    color: $dark-text
    .icon-pdf-shadow
      &:before
        opacity: 0
      &:after
        opacity: 1



.w450
  width: 450px

.w360
  width: 360px

.w190
  width: 180px

.w90
  width: 90px

.h450
  height: 450px

.h360
  height: 360px

.h190
  height: 180px

.h90
  height: 90px
