$red: #D12023
$red2: #A10D10
$dark: #3B4D5D
$dark2: #354656
$dark3: #314251
$dark4: #233341
$dark-title: #2B3B48
$dark-text: #33424f
$main-gray: #F2F5F6
$border: #D4DBDD
// $red-text: #D12023
// $dark-text: #3B4D5D

+font("FuturaNewBold", FuturaNewBold-Reg)
+font("FuturaNewLight", FuturaNewLight-Reg)
+font("FuturaNewMedium", FuturaNewMedium-Reg)
+font("FuturaNewHeavy", FuturaNewHeavy-Reg)


=bold
  font-family: "FuturaNewBold", Helvetica, Arial, sans-serif
  font-weight: normal

=medium
  font-family: "FuturaNewMedium", Helvetica, Arial, sans-serif
  font-weight: normal

=light
  font-family: "FuturaNewLight", Helvetica, Arial, sans-serif
  font-weight: normal

=heavy
  font-family: "FuturaNewHeavy", Helvetica, Arial, sans-serif
  font-weight: normal

=regular
  font-family: "Trebuchet MS", Helvetica, Arial, sans-serif
  letter-spacing: 0.02em

=resize
  +r(1296)
    @content




body
  background: $dark
  font-family: "Trebuchet MS", Helvetica, Arial, sans-serif
  line-height: 1.5

.out
  position: relative
  max-width: 1600px
  min-width: 1044px
  margin: auto
  background: $main-gray
  overflow: hidden
  &:before
    content: ""
    position: absolute
    box-sizing: border-box
    // border-right: 530px solid $dark
    top: 0
    left: 50%
    bottom: 0
    width: 600px
    margin-left: 270px
    z-index: 0
    // width: percentage(530/1600)
    // max-width: 530px
    background: $dark
  +resize
    &:before
      margin-left: 165px

.main-wrap
  position: relative
  margin-bottom: 105px
  +clr
  +resize
    margin-bottom: 80px