.toparea
  position: relative
  z-index: 2

  .header
    position: absolute
    z-index: 1
    top: 0
    left: 0
    right: 0

  .big-title
    position: absolute
    z-index: 1
    bottom: 100px
    right: 0
    max-width: 550px
    text-align: right

  +resize
    .toparea__inner
      min-height: 474px
    .big-title
      bottom: 80px

.toparea__inner
  position: relative
  min-height: 540px


.header
  position: relative
  z-index: 1
  +clr

  .logo
    float: left

  .sqr, .menu
    float: right

  .big-title
    float: right
    line-height: 180px
    margin-right: 50px
    max-width: 490px

  &.is-fixed
    .header__inner
      background: #FFF
    .menu
      display: block
      height: 90px
      width: auto
      text-align: right
    .menu__list
      width: auto
      margin: 0
      li
        width: auto
        margin: 0 0 0 30px
    .menu__link
      color: rgba($dark-text, 0.5)
      &:hover, &.is-active
        color: $red
    .sqr_contact
      height: 90px
      strong
        margin: 7px 0 0
      span
        display: none
    .logo
      width: 90px
      height: 90px
      line-height: 90px
      &:before
        +sprite(logo-small)

  +resize
    .logo
      width: 90px
      height: 90px
      line-height: 90px
      &:before
        +sprite(logo-small)

    .big-title
      font-size: 46px
      margin-right: 20px
      max-width: 370px


.header__inner
  +clr

.header_content
  background: url('../img/header-bg.jpg') no-repeat left center
  // &:before
  //   content: ""
  //   position: absolute
  //   z-index: -1
  //   bottom: 0
  //   right: 50%
  //   margin-right: -90px
  //   height: 200px
  //   width: 700px
  //   box-shadow: 0 50px 120px -30px rgba(#560001, 0.4)
  .header__inner
    // box-shadow: 0 50px 120px -30px rgba(#560001, 0.4)
    box-shadow: 0 25px 120px -30px rgba(#162634, 0.4)
  +resize
    background-position: right 180px center

// .header__right
  // +clr


.menu
  width: 360px
  height: 180px
  padding: 0 40px
  background: #FFF
  box-sizing: border-box
  +vertical
  white-space: nowrap

.menu__list
  display: inline-block
  vertical-align: middle
  width: 100%
  white-space: normal
  font-size: 0
  margin-bottom: -8px
  text-align: left
  li
    display: inline-block
    vertical-align: top
    width: 50%
    margin-bottom: 8px

.menu__link
  display: inline-block
  vertical-align: top
  font-size: 11px
  text-transform: uppercase
  line-height: 1
  +bold
  letter-spacing: 0.05em
  padding: 10px 0
  color: $dark
  text-decoration: none
  +trans-link
  &:hover, &.is-active
    color: $red


.slider
  position: absolute
  z-index: 0
  top: 0
  right: 180px
  width: 1250px
  height: 540px
  overflow: hidden
  box-shadow: 100px 95px 50px -85px rgba(#162634, 0.6)
  &.slick-slider
    overflow: visible
  +resize
    width: 1085px
    height: 474px
  .slick-dots
    bottom: 20px


.slider__item
  width: 1250px
  height: 540px
  background-position: center center
  background-size: cover
  overflow: hidden
  img
    display: block
    max-width: 100%



.category
  position: relative
  z-index: 0
  display: block
  float: left
  box-sizing: border-box
  width: 360px
  height: 360px
  font-size: 12px
  padding: 100px 90px 0
  background: $dark
  text-decoration: none
  +trans
  &:first-child
    background: $dark3
  &:nth-child(2)
    background: $dark2
  &:hover
    z-index: 3
    background: $red
    padding-top: 80px
    box-shadow: 0 0 0 10px $red, 0 0 73px 0 rgba(38, 55, 70, 0.75)
    .category__title
      .icon
        transform: translateX(50px)
    .category__more
      opacity: 1
      height: auto
      margin-top: 60px

.category__number
  position: absolute
  top: -25px
  right: 100%
  +bold
  font-size: 50px
  line-height: 1
  margin-right: -2px
  color: #FFF
  color: rgba(#FFF, 0.03)

.category__title
  display: inline-block
  position: relative
  padding-right: 32px
  +medium
  font-size: 24px
  text-transform: uppercase
  color: #FFF
  h1,h2,h3,h4
    display: inline-block
    vertical-align: middle
    +medium
  .icon
    position: absolute
    top: 50%
    right: 0
    margin-top: -11px
    +trans(transform)

.category__text
  display: block
  margin-top: 28px
  font-size: 12px
  line-height: 1.66
  letter-spacing: 0.02em
  color: #FFF
  color: rgba(#FFF, 0.7)

.category__more
  height: 0
  opacity: 0
  display: block
  +bold
  letter-spacing: 0.15em
  font-size: 11px
  text-transform: uppercase
  color: #FFF
  line-height: 1.8
  +trans

.category_main
  +resize
    width: 294px
    height: 290px
    padding: 60px 50px 0 70px
    &:last-child
      width: 346px
    &:hover
      padding-top: 40px
      .category__more
        margin-top: 40px

.category_narrow
  width: 33.33%
  height: 90px
  padding: 10px
  line-height: 70px
  text-align: center
  &:first-child
    background: $dark4

  .category__title
    display: inline-block
    vertical-align: middle
    font-size: 18px
    line-height: 1.33
    +trans(transform)

  .category__number
    position: relative
    top: -2px
    right: 0
    margin-right: 3px
    font-size: 36px
    display: inline-block
    vertical-align: middle
    color: rgba(#FFF, 0.1)

  &:hover
    padding: 10px
    background: $red

    .category__title
      transform: translateX(-10px)
      .icon
        transform: translateX(20px)

  &.is-active
    &:after
      content: ""
      position: absolute
      top: 100%
      left: 50%
      width: 0
      height: 0
      margin-left: -16px
      border: solid transparent
      border-width: 14px 16px 0 16px
      border-top-color: $dark
    &:first-child
      &:after
        border-top-color: $dark4
    &:nth-child(2)
      &:after
        border-top-color: $dark2
    .category__title
      color: $red
    .category__number
      color: rgba(#FF1922, 0.1)
    .icon-arr
      +sprite(arr-down-red)
    &:hover
      background: $dark
      box-shadow: none
      &:first-child
        background: $dark4
      &:nth-child(2)
        background: $dark2
      .category__title
        color: $red
        transform: none
        .icon
          transform: none

.news
  display: block
  position: relative
  z-index: 1
  width: 450px
  box-sizing: border-box
  background: #FFF
  // box-shadow: 25px 25px 80px -20px rgba(#162634, 0.2)

.news__pic
  height: 180px
  overflow: hidden
  background: no-repeat center center
  background-size: cover
  img
    display: block

.news__footer
  height: 180px
  padding-left: 90px
  position: relative
  box-sizing: border-box
  overflow: hidden

.news__date
  position: absolute
  top: 0
  left: 0
  width: 90px
  height: 100%
  padding-top: 60px
  box-sizing: border-box
  background: $red
  text-align: center
  big
    display: block
    font-size: 50px
    +light
    color: #FFF
    letter-spacing: -0.05em
    line-height: 1
  small
    display: block
    margin-top: 7px
    font-size: 9px
    text-transform: uppercase
    color: #FFF
    color: rgba(#FFF, 0.5)
    letter-spacing: 0.1em

.news__title
  display: block
  padding: 40px 35px 35px
  box-sizing: border-box
  height: 100%
  font-size: 18px
  line-height: 1.333
  +medium
  color: $red
  text-decoration: none
  +trans-link(all)
  &:hover
    color: #FFF
    background: $red

.news_resize
  +resize
    width: 330px
    .news__pic
      height: 150px
    .news__footer
      height: 150px
      padding-left: 70px
    .news__date
      width: 70px
      padding-top: 45px
      big
        font-size: 40px
    .news__title
      padding: 25px



.news-list
  width: 450px
  box-sizing: border-box
  padding: 0 65px 0 90px
  background: $main-gray
  color: $dark-text
  +resize
    width: 374px
    padding: 0 30px 0 50px
    .news-list__item
      height: 150px
      padding-top: 30px
      &:first-child
        padding-top: 30px

.news-list__item
  height: 180px
  padding-top: 35px
  box-sizing: border-box
  border-top: 1px solid $border
  &:first-child
    padding-top: 50px
    border-top: none

.news-list__title
  font-size: 18px
  line-height: 1.333
  +medium
  color: inherit
  text-decoration: none
  +trans-link
  &:hover
    color: $red

.news-list__date
  display: block
  margin-top: 13px
  font-size: 12px
  line-height: 1.67
  color: inherit
  font-style: italic
  letter-spacing: 0.02em


.news-list_dark
  background: $dark
  color: #FFF



.location
  padding: 85px 450px 175px 35px
  position: relative
  box-sizing: border-box
  min-height: 540px
  background: #FFF
  +clr

  .button
    position: absolute
    bottom: 45px
    right: 360px

  +resize
    padding: 40px 400px 155px 35px
    min-height: 410px
    .button
      bottom: 40px
      width: 365px
      right: 346px
    .location__title
      padding-left: 65px
      font-size: 26px
      line-height: 1.3
      margin-bottom: 25px
    .location__more
      display: none
    .location__map
      width: 346px

.location__title
  display: block
  margin-bottom: 45px
  padding-left: 145px
  font-size: 32px
  line-height: 1
  text-transform: uppercase
  +bold
  color: $dark-title
  letter-spacing: -0.02em

.location__map
  position: absolute
  top: 0
  right: 0
  bottom: 0
  width: 360px
  background: #F0EDE4
  box-shadow: inset 5px 0 10px -5px rgba(#162634, 0.2)
  overflow: hidden
  &:before
    content: ""
    position: absolute
    top: 85px
    left: -9px
    width: 18px
    height: 18px
    background: #FFF
    transform: rotate(-45deg)
    box-shadow: 0 0 7px 0 rgba(#162634, 0.2)

.location__about
  float: right
  width: percentage(360/595)
  font-size: 18px
  line-height: 1.333
  letter-spacing: 0
  +medium
  color: $dark-text

.location__more
  display: block
  margin-top: 20px
  font-size: 13px
  line-height: 1.5
  color: $dark-text
  color: rgba($dark-text, 0.9)
  letter-spacing: 0.02em


.location__name
  display: block
  float: left
  width: percentage(190/595)
  margin-top: 3px
  text-align: right
  font-style: italic
  color: $dark-text
  color: rgba($dark-text, 0.7)
  font-size: 12px
  line-height: 1.66
  letter-spacing: 0.02em




.b-news
  +clr
  > .logo, > .news, > .news-list, > .button
    float: left
  .button
    height: 360px
  +resize
    margin-left: 45px
    .logo
      display: none
      margin-left: 45px
    .button
      height: 300px


.b-promo1
  position: relative
  font-size: 0
  width: auto

  > .sqr
    display: inline-block
    vertical-align: bottom

  .sqr_promo:first-child
    position: absolute
    top: -180px
    left: 0

  +resize
    float: none
    .sqr_promo:first-child
      top: -135px
    > .sqr:last-child
      width: 346px



.b-promo2
  position: relative
  +clr
  > .sqr
    float: left
  +resize
    float: none
    margin-left: 135px



.about
  position: relative
  min-height: 375px
  margin: 105px 0 0 90px
  padding: 80px 170px 70px 80px
  width: 900px
  box-sizing: border-box
  border: 10px solid #FFF
  color: $dark-text
  +medium
  font-size: 18px
  line-height: 1.33

  +resize
    margin: 80px 0 0 92px
    width: 675px
    padding: 30px 120px 30px 30px
    min-height: 270px
    .about__title
      margin-bottom: 20px
    .about__partners
      margin-top: 25px
      margin-right: -35px
      li
        margin-right: 35px


  .button
    position: absolute
    top: -10px
    right: -10px
    height: 100%
    box-sizing: content-box
    width: 90px
    padding: 10px 0

.about__title
  margin-bottom: 30px
  +medium
  font-size: 24px
  line-height: 1
  text-transform: uppercase
  letter-spacing: -0.03em
  color: #414E5A

.about__partners
  margin: 60px -50px -20px 0
  li
    display: inline-block
    vertical-align: middle
    margin: 0 50px 20px 0




.footer
  position: relative
  z-index: 1
  padding: 30px 0 90px
  +medium
  font-size: 18px
  line-height: 1.333
  color: $dark
  +resize
    .footer__copy
      margin-right: 40px
    .footer__creator
      width: 347px

.footer__inner
  +clr

.footer__copy
  float: left
  margin-right: 90px
  color: rgba($dark, 0.7)

.footer__contacts
  float: left
  a
    text-decoration: none
    color: inherit
  .tel
    display: block
  .email
    display: block
    margin-top: 5px
    color: $red

.footer__creator
  width: 360px
  text-align: center
  float: right
  color: #FFF

.footer__socials
  float: right
  margin-top: -30px
  font-size: 0



.flex
  display: inline-block
  vertical-align: top
  text-decoration: none
  color: #FFF
  +trans-link(color)
  &:hover
    color: $red
    .flex__icon
      &:before
        opacity: 0
      &:after
        opacity: 1

.flex__icon
  display: inline-block
  vertical-align: middle
  position: relative
  margin-right: 10px
  &:before
    content: ""
    display: block
    +sprite(flex-logo)
    +trans-link(opacity)
    opacity: 1
  &:after
    content: ""
    position: absolute
    top: 0
    left: 0
    opacity: 0
    +sprite(flex-logo-red)
    +trans-link(opacity)

.flex__text
  display: inline-block
  vertical-align: middle
  em
    font-style: normal
    color: #5B6D7C


.social-button
  display: inline-block
  vertical-align: top
  width: 90px
  height: 90px
  line-height: 90px
  text-align: center
  +trans-link(background)
  &:before
    content: ""
    display: inline-block
    vertical-align: middle

.social-button_inst
  background: #895A4D
  &:before
    +sprite(instagram)
  &:hover
    background: #75493F


.social-button_vk
  background: #54769B
  &:before
    +sprite(vk)
  &:hover
    background: #3D6287

.social-button_fb
  background: #4A63B5
  &:before
    +sprite(fb)
  &:hover
    background: #3F5BA7


.breadcrumbs
  margin-bottom: 25px
  font-size: 0
  +regular
  line-height: 1.5
  color: #BEBEBE
  li
    display: inline-block
    vertical-align: top
    font-size: 12px
    &:before
      content: "—"
      display: inline-block
      vertical-align: top
      margin: 0 12px
    &:first-child
      &:before
        content: none
  a
    color: inherit
    text-decoration: none
    +trans-link
    &:hover
      color: #A1A1A1



.page-header
  position: relative
  box-sizing: border-box
  padding: 70px 180px 20px $l-main-left-padding
  min-height: 180px

  .button
    position: absolute
    top: 0
    right: 0

  .contacts
    position: absolute
    top: 50px
    left: 100%
    margin-left: 35px
    width: 200px

  .paginator
    margin-top: 40px

  +resize
    .contacts
      margin-left: 10px
      width: 169px
      top: 35px
    .contacts__phone
      font-size: 20px

.page-header_news
  background: #FFF
  width: 450px
  padding-right: 35px




.paginator__button
  display: inline-block
  vertical-align: baseline
  background: none
  margin-right: 25px
  width: 20px
  height: 20px
  line-height: 20px
  font-size: 14px
  text-align: center
  +medium
  color: #233341
  +trans-link
  &:last-child
    margin-right: 0
  &:hover, &.is-active
    color: $red



.line
  background: $dark
  +clr


.figure
  width: 900px
  margin: 20px 0
  box-sizing: border-box
  +clr
  .number
    margin: 40px 0 40px -40px

.figure__left
  float: left
  width: 226px
  box-sizing: border-box
  padding-right: 35px
  +regular
  font-size: 13px
  line-height: 1.5
  color: $dark-text

.figure__right
  float: right
  width: 674px


.gallery
  position: relative
  width: 674px
  height: 360px
  box-sizing: border-box

.gallery__box
  position: absolute
  z-index: 1
  bottom: 0
  right: 0
  width: 180px
  height: 180px
  padding: 30px 20px 20px 30px
  box-sizing: border-box
  background: #FFF

.gallery__captions
  +regular
  font-size: 12px
  line-height: 1.66
  color: #414E5A

.gallery__nav
  max-width: 120px
  margin: 0 0 15px 0
  text-align: center
  +clr

.gallery__prev,
.gallery__next
  text-align: center
  width: 25px
  height: 25px
  background: none
  .icon
    vertical-align: middle

.gallery__prev
  float: left

.gallery__next
  float: right

.gallery__counter
  text-align: center
  margin: 0 25px
  line-height: 1
  +medium
  color: $dark-text

.gallery__counter-current
  font-size: 26px
  display: inline-block
  vertical-align: baseline

.gallery__counter-all
  display: inline-block
  vertical-align: baseline
  padding-left: 4px
  margin-left: 4px
  font-size: 14px
  position: relative
  &:before
    content: ""
    position: absolute
    top: 50%
    left: 0
    height: 20px
    margin-top: -11px
    width: 0
    border-left: 1px solid
    transform: rotate(20deg)

.gallery__pictures
  overflow: hidden
  img
    display: block
  > div
    display: none
    &:first-child
      display: block

.gallery__captions
  overflow: hidden
  > div
    display: none
    &:first-child
      display: block


.small-figure
  box-sizing: border-box
  +regular
  font-size: 13px
  line-height: 1.54
  color: $dark-text
  color: rgba($dark-text, 0.9)
  sup
    vertical-align: super
  .icon
    display: block
    margin-bottom: 13px

.small-figure__icon
  min-height: 50px
  line-height: 50px
  margin-bottom: 13px
  .icon, img
    display: inline-block
    vertical-align: middle
    margin: 0

.small-figure__text
  b, strong
    font-size: 14px
    display: inline-block
    line-height: 1.43
    margin-top: -3px

.small-figure_big-icon
  .small-figure__icon
    min-height: 65px
    line-height: 65px
    margin-bottom: 25px


.icons-group
  font-size: 0
  margin: 0 -10px -60px
  .small-figure
    display: inline-block
    vertical-align: top
    box-sizing: border-box
    width: 25%
    margin-bottom: 60px
    padding: 0 10px


.tabs
  position: relative
  margin-right: (-$l-main-right-padding)

.tabs__main
  box-shadow: 0 6px 60px -10px rgba(#162634, 0.2)
  overflow: hidden

.tabs__content
  display: none
  img
    display: block
  &.is-active
    display: block


.tabs__buttons
  position: absolute
  top: 0
  left: 100%
  box-shadow: 0 6px 50px -10px rgba(#162634, 0.2)

.tabs__button
  display: block
  box-sizing: border-box
  width: 90px
  height: 90px
  background: #405263
  font-size: 36px
  line-height: 1
  color: #FFF
  +light
  text-align: center
  -webkit-appearance: none
  +trans-link(background)
  &:first-child
    background: $dark4
  &:nth-child(2)
    background: $dark2
  &:hover, &.is-active
    background: $red


.text
  line-height: 1.54
  p, ul, ol
    margin: 35px 0
    &:first-child
      margin-top: 0
    &:last-child
      margin-bottom: 0

  ul, ol
    margin-left: 35px

  ul
    list-style-type: initial

  ol
    list-style-type: decimal



.text-figure
  +clr
  +resize
    .text-figure__left
      margin-left: -90px
    .text-figure__right
      margin-left: 305px

.text-figure__left
  width: 360px
  height: 360px
  box-sizing: border-box
  float: left
  margin: 0 35px 0 -180px
  img
    display: block

.text-figure__right
  margin-left: 215px



.person
  +regular

.person__pic
  width: 168px
  height: 168px
  margin-bottom: 18px
  box-sizing: border-box
  border-radius: 50%
  overflow: hidden
  img
    display: block

.person__name
  display: block
  font-size: 18px
  line-height: 1.1
  +medium
  letter-spacing: 0.02em

.person__post
  display: block
  margin-top: 4px
  font-style: italic
  font-size: 13px
  line-height: 1.7
  color: #788591

.person__about
  margin-top: 12px
  +regular
  font-size: 13px
  line-height: 1.54
  color: rgba($dark-text, 0.9)



.news-box
  +clr

.news-box__left
  float: left
  width: 450px

.news-box__right
  float: right
  width: 450px
  background: $dark

.news-box__footer
  clear: both
  float: right
  height: 90px
  line-height: 90px
  margin-right: 90px
  padding-right: 45px
  +resize
    margin-right: 258px






.has-shadow
  box-shadow: 25px 25px 80px -20px rgba(#162634, 0.2)