$icons: (
  arr-down-red: (X: -323px, Y:-240px, W: 21px, H: 21px, TW: 416px, TH: 405px, IMG: '../img/icons.png'),
  arr-left-red: (X: -297px, Y:-176px, W: 21px, H: 21px, TW: 416px, TH: 405px, IMG: '../img/icons.png'),
  arr-left: (X: 0px, Y:-320px, W: 21px, H: 21px, TW: 416px, TH: 405px, IMG: '../img/icons.png'),
  arr-red: (X: -330px, Y:-129px, W: 21px, H: 21px, TW: 416px, TH: 405px, IMG: '../img/icons.png'),
  arr: (X: -328px, Y:-176px, W: 21px, H: 21px, TW: 416px, TH: 405px, IMG: '../img/icons.png'),
  baloon: (X: -378px, Y:-119px, W: 24px, H: 39px, TW: 416px, TH: 405px, IMG: '../img/icons.png'),
  boutique: (X: -264px, Y:-240px, W: 49px, H: 42px, TW: 416px, TH: 405px, IMG: '../img/icons.png'),
  bowling: (X: -208px, Y:-129px, W: 80px, H: 36px, TW: 416px, TH: 405px, IMG: '../img/icons.png'),
  bus: (X: -28px, Y:-351px, W: 17px, H: 21px, TW: 416px, TH: 405px, IMG: '../img/icons.png'),
  clock: (X: -298px, Y:-129px, W: 22px, H: 22px, TW: 416px, TH: 405px, IMG: '../img/icons.png'),
  close: (X: -378px, Y:-273px, W: 23px, H: 23px, TW: 416px, TH: 405px, IMG: '../img/icons.png'),
  conte: (X: 0px, Y:0px, W: 158px, H: 61px, TW: 416px, TH: 405px, IMG: '../img/icons.png'),
  corona: (X: -60px, Y:-320px, W: 22px, H: 18px, TW: 416px, TH: 405px, IMG: '../img/icons.png'),
  euroopt-big: (X: -168px, Y:0px, W: 200px, H: 45px, TW: 416px, TH: 405px, IMG: '../img/icons.png'),
  euroopt: (X: -205px, Y:-176px, W: 55px, H: 38px, TW: 416px, TH: 405px, IMG: '../img/icons.png'),
  fb: (X: 0px, Y:-382px, W: 12px, H: 23px, TW: 416px, TH: 405px, IMG: '../img/icons.png'),
  film: (X: -378px, Y:-62px, W: 35px, H: 47px, TW: 416px, TH: 405px, IMG: '../img/icons.png'),
  flex-logo-red: (X: -378px, Y:-239px, W: 24px, H: 24px, TW: 416px, TH: 405px, IMG: '../img/icons.png'),
  flex-logo: (X: -378px, Y:-205px, W: 24px, H: 24px, TW: 416px, TH: 405px, IMG: '../img/icons.png'),
  food: (X: -301px, Y:-71px, W: 60px, H: 42px, TW: 416px, TH: 405px, IMG: '../img/icons.png'),
  ice-arena: (X: -210px, Y:-240px, W: 44px, H: 50px, TW: 416px, TH: 405px, IMG: '../img/icons.png'),
  instagram: (X: -378px, Y:-168px, W: 26px, H: 27px, TW: 416px, TH: 405px, IMG: '../img/icons.png'),
  lock: (X: -55px, Y:-351px, W: 16px, H: 21px, TW: 416px, TH: 405px, IMG: '../img/icons.png'),
  logo-small: (X: -132px, Y:-240px, W: 68px, H: 55px, TW: 416px, TH: 405px, IMG: '../img/icons.png'),
  logo: (X: 0px, Y:-71px, W: 98px, H: 95px, TW: 416px, TH: 405px, IMG: '../img/icons.png'),
  man: (X: -31px, Y:-320px, W: 19px, H: 21px, TW: 416px, TH: 405px, IMG: '../img/icons.png'),
  map-pin: (X: -270px, Y:-176px, W: 17px, H: 27px, TW: 416px, TH: 405px, IMG: '../img/icons.png'),
  next: (X: -359px, Y:-176px, W: 8px, H: 13px, TW: 416px, TH: 405px, IMG: '../img/icons.png'),
  office: (X: -145px, Y:-176px, W: 50px, H: 48px, TW: 416px, TH: 405px, IMG: '../img/icons.png'),
  oma-big: (X: 0px, Y:-176px, W: 135px, H: 54px, TW: 416px, TH: 405px, IMG: '../img/icons.png'),
  oma: (X: -108px, Y:-129px, W: 90px, H: 36px, TW: 416px, TH: 405px, IMG: '../img/icons.png'),
  pdf-shadow-h: (X: 0px, Y:-240px, W: 56px, H: 70px, TW: 416px, TH: 405px, IMG: '../img/icons.png'),
  pdf-shadow: (X: -66px, Y:-240px, W: 56px, H: 70px, TW: 416px, TH: 405px, IMG: '../img/icons.png'),
  pdf: (X: -378px, Y:0px, W: 38px, H: 52px, TW: 416px, TH: 405px, IMG: '../img/icons.png'),
  person: (X: -92px, Y:-320px, W: 21px, H: 18px, TW: 416px, TH: 405px, IMG: '../img/icons.png'),
  phone: (X: -81px, Y:-351px, W: 18px, H: 18px, TW: 416px, TH: 405px, IMG: '../img/icons.png'),
  prev: (X: -361px, Y:-129px, W: 7px, H: 12px, TW: 416px, TH: 405px, IMG: '../img/icons.png'),
  round-arr: (X: 0px, Y:-351px, W: 18px, H: 21px, TW: 416px, TH: 405px, IMG: '../img/icons.png'),
  triniti: (X: -108px, Y:-71px, W: 183px, H: 48px, TW: 416px, TH: 405px, IMG: '../img/icons.png'),
  vk: (X: -123px, Y:-320px, W: 23px, H: 15px, TW: 416px, TH: 405px, IMG: '../img/icons.png'),
);


// Gets an attribute from the sass map
@function icon-attr($icon, $attr) {
  $icon: map-get($icons, $icon);
  @return map-get($icon, $attr);
}

@mixin sprite($iconName) {
  background-image: url(icon-attr($iconName, IMG));
  width: icon-attr($iconName, W);
  height: icon-attr($iconName, H);
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y);
}



.icon-arr-down-red {
  width: 21px;
  height: 21px;
  background-image: url('../img/icons.png');
  background-position: -323px -240px;
}

.icon-arr-left-red {
  width: 21px;
  height: 21px;
  background-image: url('../img/icons.png');
  background-position: -297px -176px;
}

.icon-arr-left {
  width: 21px;
  height: 21px;
  background-image: url('../img/icons.png');
  background-position: 0px -320px;
}

.icon-arr-red {
  width: 21px;
  height: 21px;
  background-image: url('../img/icons.png');
  background-position: -330px -129px;
}

.icon-arr {
  width: 21px;
  height: 21px;
  background-image: url('../img/icons.png');
  background-position: -328px -176px;
}

.icon-baloon {
  width: 24px;
  height: 39px;
  background-image: url('../img/icons.png');
  background-position: -378px -119px;
}

.icon-boutique {
  width: 49px;
  height: 42px;
  background-image: url('../img/icons.png');
  background-position: -264px -240px;
}

.icon-bowling {
  width: 80px;
  height: 36px;
  background-image: url('../img/icons.png');
  background-position: -208px -129px;
}

.icon-bus {
  width: 17px;
  height: 21px;
  background-image: url('../img/icons.png');
  background-position: -28px -351px;
}

.icon-clock {
  width: 22px;
  height: 22px;
  background-image: url('../img/icons.png');
  background-position: -298px -129px;
}

.icon-close {
  width: 23px;
  height: 23px;
  background-image: url('../img/icons.png');
  background-position: -378px -273px;
}

.icon-conte {
  width: 158px;
  height: 61px;
  background-image: url('../img/icons.png');
  background-position: 0px 0px;
}

.icon-corona {
  width: 22px;
  height: 18px;
  background-image: url('../img/icons.png');
  background-position: -60px -320px;
}

.icon-euroopt-big {
  width: 200px;
  height: 45px;
  background-image: url('../img/icons.png');
  background-position: -168px 0px;
}

.icon-euroopt {
  width: 55px;
  height: 38px;
  background-image: url('../img/icons.png');
  background-position: -205px -176px;
}

.icon-fb {
  width: 12px;
  height: 23px;
  background-image: url('../img/icons.png');
  background-position: 0px -382px;
}

.icon-film {
  width: 35px;
  height: 47px;
  background-image: url('../img/icons.png');
  background-position: -378px -62px;
}

.icon-flex-logo-red {
  width: 24px;
  height: 24px;
  background-image: url('../img/icons.png');
  background-position: -378px -239px;
}

.icon-flex-logo {
  width: 24px;
  height: 24px;
  background-image: url('../img/icons.png');
  background-position: -378px -205px;
}

.icon-food {
  width: 60px;
  height: 42px;
  background-image: url('../img/icons.png');
  background-position: -301px -71px;
}

.icon-ice-arena {
  width: 44px;
  height: 50px;
  background-image: url('../img/icons.png');
  background-position: -210px -240px;
}

.icon-instagram {
  width: 26px;
  height: 27px;
  background-image: url('../img/icons.png');
  background-position: -378px -168px;
}

.icon-lock {
  width: 16px;
  height: 21px;
  background-image: url('../img/icons.png');
  background-position: -55px -351px;
}

.icon-logo-small {
  width: 68px;
  height: 55px;
  background-image: url('../img/icons.png');
  background-position: -132px -240px;
}

.icon-logo {
  width: 98px;
  height: 95px;
  background-image: url('../img/icons.png');
  background-position: 0px -71px;
}

.icon-man {
  width: 19px;
  height: 21px;
  background-image: url('../img/icons.png');
  background-position: -31px -320px;
}

.icon-map-pin {
  width: 17px;
  height: 27px;
  background-image: url('../img/icons.png');
  background-position: -270px -176px;
}

.icon-next {
  width: 8px;
  height: 13px;
  background-image: url('../img/icons.png');
  background-position: -359px -176px;
}

.icon-office {
  width: 50px;
  height: 48px;
  background-image: url('../img/icons.png');
  background-position: -145px -176px;
}

.icon-oma-big {
  width: 135px;
  height: 54px;
  background-image: url('../img/icons.png');
  background-position: 0px -176px;
}

.icon-oma {
  width: 90px;
  height: 36px;
  background-image: url('../img/icons.png');
  background-position: -108px -129px;
}

.icon-pdf-shadow-h {
  width: 56px;
  height: 70px;
  background-image: url('../img/icons.png');
  background-position: 0px -240px;
}

.icon-pdf-shadow {
  width: 56px;
  height: 70px;
  background-image: url('../img/icons.png');
  background-position: -66px -240px;
}

.icon-pdf {
  width: 38px;
  height: 52px;
  background-image: url('../img/icons.png');
  background-position: -378px 0px;
}

.icon-person {
  width: 21px;
  height: 18px;
  background-image: url('../img/icons.png');
  background-position: -92px -320px;
}

.icon-phone {
  width: 18px;
  height: 18px;
  background-image: url('../img/icons.png');
  background-position: -81px -351px;
}

.icon-prev {
  width: 7px;
  height: 12px;
  background-image: url('../img/icons.png');
  background-position: -361px -129px;
}

.icon-round-arr {
  width: 18px;
  height: 21px;
  background-image: url('../img/icons.png');
  background-position: 0px -351px;
}

.icon-triniti {
  width: 183px;
  height: 48px;
  background-image: url('../img/icons.png');
  background-position: -108px -71px;
}

.icon-vk {
  width: 23px;
  height: 15px;
  background-image: url('../img/icons.png');
  background-position: -123px -320px;
}

