$icons: (
  arr-down-red: (X: -193px, Y:-176px, W: 21px, H: 21px, TW: 351px, TH: 340px, IMG: '../img/icons.png'),
  arr: (X: -162px, Y:-176px, W: 21px, H: 21px, TW: 351px, TH: 340px, IMG: '../img/icons.png'),
  baloon: (X: -113px, Y:-228px, W: 24px, H: 39px, TW: 351px, TH: 340px, IMG: '../img/icons.png'),
  boutique: (X: -54px, Y:-228px, W: 49px, H: 42px, TW: 351px, TH: 340px, IMG: '../img/icons.png'),
  bowling: (X: -168px, Y:-123px, W: 80px, H: 36px, TW: 351px, TH: 340px, IMG: '../img/icons.png'),
  bus: (X: -147px, Y:-228px, W: 17px, H: 21px, TW: 351px, TH: 340px, IMG: '../img/icons.png'),
  clock: (X: -328px, Y:-123px, W: 22px, H: 22px, TW: 351px, TH: 340px, IMG: '../img/icons.png'),
  conte: (X: 0px, Y:0px, W: 158px, H: 61px, TW: 351px, TH: 340px, IMG: '../img/icons.png'),
  corona: (X: -253px, Y:-176px, W: 22px, H: 18px, TW: 351px, TH: 340px, IMG: '../img/icons.png'),
  euroopt: (X: -70px, Y:-176px, W: 55px, H: 38px, TW: 351px, TH: 340px, IMG: '../img/icons.png'),
  fb: (X: -93px, Y:-288px, W: 12px, H: 23px, TW: 351px, TH: 340px, IMG: '../img/icons.png'),
  film: (X: -48px, Y:-288px, W: 35px, H: 47px, TW: 351px, TH: 340px, IMG: '../img/icons.png'),
  flex-logo-red: (X: -294px, Y:-123px, W: 24px, H: 24px, TW: 351px, TH: 340px, IMG: '../img/icons.png'),
  flex-logo: (X: -108px, Y:-129px, W: 24px, H: 24px, TW: 351px, TH: 340px, IMG: '../img/icons.png'),
  food: (X: 0px, Y:-176px, W: 60px, H: 42px, TW: 351px, TH: 340px, IMG: '../img/icons.png'),
  ice-arena: (X: 0px, Y:-228px, W: 44px, H: 50px, TW: 351px, TH: 340px, IMG: '../img/icons.png'),
  instagram: (X: -258px, Y:-123px, W: 26px, H: 27px, TW: 351px, TH: 340px, IMG: '../img/icons.png'),
  lock: (X: -142px, Y:-129px, W: 16px, H: 21px, TW: 351px, TH: 340px, IMG: '../img/icons.png'),
  logo-small: (X: -168px, Y:-58px, W: 68px, H: 55px, TW: 351px, TH: 340px, IMG: '../img/icons.png'),
  logo: (X: 0px, Y:-71px, W: 98px, H: 95px, TW: 351px, TH: 340px, IMG: '../img/icons.png'),
  man: (X: -224px, Y:-176px, W: 19px, H: 21px, TW: 351px, TH: 340px, IMG: '../img/icons.png'),
  map-pin: (X: -135px, Y:-176px, W: 17px, H: 27px, TW: 351px, TH: 340px, IMG: '../img/icons.png'),
  next: (X: -202px, Y:-228px, W: 8px, H: 13px, TW: 351px, TH: 340px, IMG: '../img/icons.png'),
  office: (X: -108px, Y:-71px, W: 50px, H: 48px, TW: 351px, TH: 340px, IMG: '../img/icons.png'),
  oma: (X: -246px, Y:-58px, W: 90px, H: 36px, TW: 351px, TH: 340px, IMG: '../img/icons.png'),
  pdf: (X: 0px, Y:-288px, W: 38px, H: 52px, TW: 351px, TH: 340px, IMG: '../img/icons.png'),
  person: (X: -285px, Y:-176px, W: 21px, H: 18px, TW: 351px, TH: 340px, IMG: '../img/icons.png'),
  phone: (X: -174px, Y:-228px, W: 18px, H: 18px, TW: 351px, TH: 340px, IMG: '../img/icons.png'),
  prev: (X: -220px, Y:-228px, W: 7px, H: 12px, TW: 351px, TH: 340px, IMG: '../img/icons.png'),
  triniti: (X: -168px, Y:0px, W: 183px, H: 48px, TW: 351px, TH: 340px, IMG: '../img/icons.png'),
  vk: (X: -316px, Y:-176px, W: 23px, H: 15px, TW: 351px, TH: 340px, IMG: '../img/icons.png'),
);


// Gets an attribute from the sass map
@function icon-attr($icon, $attr) {
  $icon: map-get($icons, $icon);
  @return map-get($icon, $attr);
}

@mixin sprite($iconName) {
  background-image: url(icon-attr($iconName, IMG));
  width: icon-attr($iconName, W);
  height: icon-attr($iconName, H);
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y);
}



.icon-arr-down-red {
  width: 21px;
  height: 21px;
  background-image: url('../img/icons.png');
  background-position: -193px -176px;
}

.icon-arr {
  width: 21px;
  height: 21px;
  background-image: url('../img/icons.png');
  background-position: -162px -176px;
}

.icon-baloon {
  width: 24px;
  height: 39px;
  background-image: url('../img/icons.png');
  background-position: -113px -228px;
}

.icon-boutique {
  width: 49px;
  height: 42px;
  background-image: url('../img/icons.png');
  background-position: -54px -228px;
}

.icon-bowling {
  width: 80px;
  height: 36px;
  background-image: url('../img/icons.png');
  background-position: -168px -123px;
}

.icon-bus {
  width: 17px;
  height: 21px;
  background-image: url('../img/icons.png');
  background-position: -147px -228px;
}

.icon-clock {
  width: 22px;
  height: 22px;
  background-image: url('../img/icons.png');
  background-position: -328px -123px;
}

.icon-conte {
  width: 158px;
  height: 61px;
  background-image: url('../img/icons.png');
  background-position: 0px 0px;
}

.icon-corona {
  width: 22px;
  height: 18px;
  background-image: url('../img/icons.png');
  background-position: -253px -176px;
}

.icon-euroopt {
  width: 55px;
  height: 38px;
  background-image: url('../img/icons.png');
  background-position: -70px -176px;
}

.icon-fb {
  width: 12px;
  height: 23px;
  background-image: url('../img/icons.png');
  background-position: -93px -288px;
}

.icon-film {
  width: 35px;
  height: 47px;
  background-image: url('../img/icons.png');
  background-position: -48px -288px;
}

.icon-flex-logo-red {
  width: 24px;
  height: 24px;
  background-image: url('../img/icons.png');
  background-position: -294px -123px;
}

.icon-flex-logo {
  width: 24px;
  height: 24px;
  background-image: url('../img/icons.png');
  background-position: -108px -129px;
}

.icon-food {
  width: 60px;
  height: 42px;
  background-image: url('../img/icons.png');
  background-position: 0px -176px;
}

.icon-ice-arena {
  width: 44px;
  height: 50px;
  background-image: url('../img/icons.png');
  background-position: 0px -228px;
}

.icon-instagram {
  width: 26px;
  height: 27px;
  background-image: url('../img/icons.png');
  background-position: -258px -123px;
}

.icon-lock {
  width: 16px;
  height: 21px;
  background-image: url('../img/icons.png');
  background-position: -142px -129px;
}

.icon-logo-small {
  width: 68px;
  height: 55px;
  background-image: url('../img/icons.png');
  background-position: -168px -58px;
}

.icon-logo {
  width: 98px;
  height: 95px;
  background-image: url('../img/icons.png');
  background-position: 0px -71px;
}

.icon-man {
  width: 19px;
  height: 21px;
  background-image: url('../img/icons.png');
  background-position: -224px -176px;
}

.icon-map-pin {
  width: 17px;
  height: 27px;
  background-image: url('../img/icons.png');
  background-position: -135px -176px;
}

.icon-next {
  width: 8px;
  height: 13px;
  background-image: url('../img/icons.png');
  background-position: -202px -228px;
}

.icon-office {
  width: 50px;
  height: 48px;
  background-image: url('../img/icons.png');
  background-position: -108px -71px;
}

.icon-oma {
  width: 90px;
  height: 36px;
  background-image: url('../img/icons.png');
  background-position: -246px -58px;
}

.icon-pdf {
  width: 38px;
  height: 52px;
  background-image: url('../img/icons.png');
  background-position: 0px -288px;
}

.icon-person {
  width: 21px;
  height: 18px;
  background-image: url('../img/icons.png');
  background-position: -285px -176px;
}

.icon-phone {
  width: 18px;
  height: 18px;
  background-image: url('../img/icons.png');
  background-position: -174px -228px;
}

.icon-prev {
  width: 7px;
  height: 12px;
  background-image: url('../img/icons.png');
  background-position: -220px -228px;
}

.icon-triniti {
  width: 183px;
  height: 48px;
  background-image: url('../img/icons.png');
  background-position: -168px 0px;
}

.icon-vk {
  width: 23px;
  height: 15px;
  background-image: url('../img/icons.png');
  background-position: -316px -176px;
}

