<!-- begin footer -->
footer.footer
  .l
    .footer__inner

      span.footer__copy
        | © 2015 triniti-grodno.by

      .footer__contacts
        a.tel(href="tel:+375152660299")
          | +375 (15) 266-02-99
        a.email(href="mailto:info@3niti.by")
          | info@3niti.by

      .footer__creator(href="#")
        a.flex(href="#")
          i.flex__icon
          span.flex__text
            | site by flex media <em>2015</em>

      .footer__socials.animation.left
        a.social-button.social-button_inst(href="#")
        a.social-button.social-button_vk(href="#")
        a.social-button.social-button_fb(href="#")

<!-- end footer -->