<!-- begin header -->
header.header
  .l
    .header__inner

      a.logo(href="/")
        | Triniti

      .sqr.sqr_center.sqr_contact
        .sqr__inner
          i.icon.icon-phone
          strong
            | Контакты
          span
            | Контактная информация и обратная связь

      //- .sqr.sqr_center.sqr_contact
        .sqr__inner
          i.icon.icon-person
          strong
            | Контакты
          span
            | Свободная площадь и условия

      //- .sqr.sqr_center.sqr_contact
        .sqr__inner
          i.icon.icon-lock
          strong
            | Арендаторам
          span
            | Свободная площадь и условия

      nav.menu
        ul.menu__list
          li
            a.menu__link.is-active(href="#")
              | Главная
          li
            a.menu__link(href="#")
              | Застройщик
          li
            a.menu__link(href="#")
              | О комплексе
          li
            a.menu__link(href="#")
              | Арендаторам
          li
            a.menu__link(href="#")
              | Новости
<!-- end header -->