<!-- begin header -->
header.header.header_content
  .l
    .header__inner

      .header__logo
        a.logo(href="/")
          | Triniti

      a.contact-button(href="#")
        .contact-button__inner
          i.icon.icon-phone
          strong
            | Контакты
          span
            | Контактная информация и обратная связь

      //- a.contact-button(href="#")
      //-   .contact-button__inner
      //-     i.icon.icon-phone
      //-     strong
      //-       | Контакты
      //-     span
      //-       | Свободная площадь и условия

      //- a.contact-button(href="#")
      //-   .contact-button__inner
      //-     i.icon.icon-phone
      //-     strong
      //-       | Арендаторам
      //-     span
      //-       | Свободная площадь и условия

      nav.menu
        ul.menu__list
          li
            a.menu__link.is-active(href="#")
              | Главная
          li
            a.menu__link(href="#")
              | Застройщик
          li
            a.menu__link(href="#")
              | О комплексе
          li
            a.menu__link(href="#")
              | Арендаторам
          li
            a.menu__link(href="#")
              | Новости

      .big-title
        block header-big-title
          | О комплексе
<!-- end header -->