<!-- begin header -->
header.header
  .l
    .header__logo
      .square.square_center.square_red
        .square__inner
          a.logo.icon-logo(href="/")
            | Triniti

    .header__right
      nav.menu
        ul.menu__list
          li
            a.menu__link(href="#")
              | Главная
          li
            a.menu__link(href="#")
              | Застройщик
          li
            a.menu__link(href="#")
              | О комплексе
          li
            a.menu__link(href="#")
              | Арендаторам
          li
            a.menu__link(href="#")
              | Новости

      .square.square_center.square_contact
        .square__inner
          i.icon.icon-phone
          strong
            | Контакты
          span
            | Контактная информация и обратная связь

<!-- end header -->