<!-- begin header -->
header.header.header_abs
  .l
    .header__inner

      .header__logo.animation.left-bottom

        a.logo(href="/")
          | Triniti

      .header__button
        .header__button-inner
          a.contact-button(href="#").animation.right
            .contact-button__inner
              i.icon.icon-phone
              strong
                | Контакты
              span
                | Контактная информация и обратная связь

      nav.menu.animation.top
        ul.menu__list
          li
            a.menu__link.is-active(href="#")
              | Главная
          li
            a.menu__link(href="#")
              | Застройщик
          li
            a.menu__link(href="#")
              | О комплексе
          li
            a.menu__link(href="#")
              | Арендаторам
          li
            a.menu__link(href="#")
              | Новости
<!-- end header -->