@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: "FuturaNewBold"; src: url("../fonts/FuturaNewBold-Reg.eot"); src: url("../fonts/FuturaNewBold-Reg.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaNewBold-Reg.woff") format("woff"), url("../fonts/FuturaNewBold-Reg.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "FuturaNewLight"; src: url("../fonts/FuturaNewLight-Reg.eot"); src: url("../fonts/FuturaNewLight-Reg.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaNewLight-Reg.woff") format("woff"), url("../fonts/FuturaNewLight-Reg.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "FuturaNewMedium"; src: url("../fonts/FuturaNewMedium-Reg.eot"); src: url("../fonts/FuturaNewMedium-Reg.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaNewMedium-Reg.woff") format("woff"), url("../fonts/FuturaNewMedium-Reg.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "FuturaNewHeavy"; src: url("../fonts/FuturaNewHeavy-Reg.eot"); src: url("../fonts/FuturaNewHeavy-Reg.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaNewHeavy-Reg.woff") format("woff"), url("../fonts/FuturaNewHeavy-Reg.ttf") format("truetype"); font-weight: normal; font-style: normal; }
body { background: #3B4D5D; font-family: "Trebuchet MS", Helvetica, Arial, sans-serif; line-height: 1.5; }

.out { position: relative; max-width: 1600px; min-width: 1024px; margin: auto; background: #F2F5F6; overflow: hidden; }
.out:before { content: ""; position: absolute; top: 0; right: 0; bottom: 0; z-index: 0; width: 33.125%; background: #3B4D5D; }

.main-wrap { position: relative; *zoom: 1; }
.main-wrap:after { content: " "; display: table; clear: both; }

.l { max-width: 1260px; padding: 0 10px; margin: auto; }

/* Slider */
.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-track, .slick-slider .slick-list { -webkit-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
[dir="rtl"] .slick-slide { float: right; }
.slick-slide img { display: block; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

/* Slider */
.slick-loading .slick-list { background: #fff url("../img/ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face { font-family: "slick"; src: url("../fonts/slick.eot"); src: url("../fonts/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick.woff") format("woff"), url("../fonts/slick.ttf") format("truetype"), url("../fonts/slick.svg#slick") format("svg"); font-weight: normal; font-style: normal; }
/* Arrows */
.slick-prev, .slick-next { position: absolute; display: block; height: 20px; width: 20px; line-height: 0px; font-size: 0px; cursor: pointer; background: transparent; color: transparent; top: 50%; margin-top: -10px; padding: 0; border: none; outline: none; }
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus { outline: none; background: transparent; color: transparent; }
.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before { opacity: 1; }
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before { opacity: 0.25; }

.slick-prev:before, .slick-next:before { font-family: "slick"; font-size: 20px; line-height: 1; color: white; opacity: 0.75; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.slick-prev { left: -25px; }
[dir="rtl"] .slick-prev { left: auto; right: -25px; }
.slick-prev:before { content: "←"; }
[dir="rtl"] .slick-prev:before { content: "→"; }

.slick-next { right: -25px; }
[dir="rtl"] .slick-next { left: -25px; right: auto; }
.slick-next:before { content: "→"; }
[dir="rtl"] .slick-next:before { content: "←"; }

/* Dots */
.slick-dots { position: absolute; left: 100%; bottom: 35px; list-style: none; padding: 0; width: 180px; margin-left: 13px; text-align: right; }
.slick-dots li { position: relative; display: inline-block; cursor: pointer; }
.slick-dots li button { display: block; width: 31px; height: 30px; text-align: center; background: none; outline: none; line-height: 0px; font-size: 0px; color: red; cursor: pointer; }
.slick-dots li button:before { content: ""; display: inline-block; height: 6px; width: 6px; box-sizing: border-box; border-radius: 50%; background: #FFF; -webkit-transition: all 0.15s linear; transition: all 0.15s linear; }
.slick-dots li button:hover:before { background: #D12023; }
.slick-dots li.slick-active button:before { background: #D12023; }

.icon-arr { width: 21px; height: 21px; background-image: url("../img/icons.png"); background-position: -61px -105px; }

.icon-baloon { width: 24px; height: 39px; background-image: url("../img/icons.png"); background-position: 0px -105px; }

.icon-bus { width: 17px; height: 21px; background-image: url("../img/icons.png"); background-position: 0px -154px; }

.icon-clock { width: 22px; height: 22px; background-image: url("../img/icons.png"); background-position: -144px -65px; }

.icon-corona { width: 22px; height: 18px; background-image: url("../img/icons.png"); background-position: -121px -105px; }

.icon-fb { width: 12px; height: 23px; background-image: url("../img/icons.png"); background-position: -186px 0px; }

.icon-instagram { width: 26px; height: 27px; background-image: url("../img/icons.png"); background-position: -108px -65px; }

.icon-lock { width: 16px; height: 21px; background-image: url("../img/icons.png"); background-position: -27px -154px; }

.icon-logo-small { width: 68px; height: 55px; background-image: url("../img/icons.png"); background-position: -108px 0px; }

.icon-logo { width: 98px; height: 95px; background-image: url("../img/icons.png"); background-position: 0px 0px; }

.icon-man { width: 19px; height: 21px; background-image: url("../img/icons.png"); background-position: -92px -105px; }

.icon-map-pin { width: 17px; height: 27px; background-image: url("../img/icons.png"); background-position: -34px -105px; }

.icon-phone { width: 18px; height: 18px; background-image: url("../img/icons.png"); background-position: -53px -154px; }

.icon-vk { width: 23px; height: 15px; background-image: url("../img/icons.png"); background-position: -153px -105px; }

.logo { display: inline-block; vertical-align: top; font: 0/0 a; text-shadow: none; color: transparent; width: 180px; height: 180px; line-height: 180px; text-align: center; background: #D12023; }
.logo:before { content: ""; display: inline-block; vertical-align: middle; background-image: url("../img/icons.png"); width: 98px; height: 95px; background-position: 0px 0px; }

.logo_small { width: 90px; height: 90px; line-height: 90px; }
.logo_small:before { background-image: url("../img/icons.png"); width: 68px; height: 55px; background-position: -108px 0px; }

.sqr { width: 180px; height: 180px; box-sizing: border-box; }

.sqr_center { text-align: center; font-size: 0; white-space: nowrap; }
.sqr_center:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }

.sqr__inner { display: inline-block; vertical-align: middle; white-space: normal; font-size: 16px; }

.sqr_2x { width: 360px; height: 360px; }

.sqr_w2 { width: 360px; }

.sqr_red { background: #D12023; }

.sqr_dark { background: #243340; }

.sqr_contact { padding: 10px; background: #233341; color: #FFF; color: rgba(255, 255, 255, 0.1); line-height: 1.5; }
.sqr_contact strong { display: block; margin: 15px 0 9px; font-size: 12px; text-transform: uppercase; color: #FFF; color: rgba(255, 255, 255, 0.4); letter-spacing: 0.1em; font-family: "FuturaNewHeavy", Helvetica, Arial, sans-serif; font-weight: normal; }
.sqr_contact .sqr__inner { font-size: 12px; line-height: 1.5; letter-spacing: 0.05em; }

.sqr_bottom .sqr__inner { vertical-align: bottom; min-height: 180px; line-height: 180px; }

.sqr_promo { background: no-repeat center center; background-size: cover; position: relative; }
.sqr_promo .sqr_icon { position: absolute; bottom: 0; right: 0; }

.sqr_icon { background: #FFF; padding: 30px 20px 20px 30px; font-family: "Trebuchet MS", Helvetica, Arial, sans-serif; letter-spacing: 0.02em; font-size: 12px; line-height: 1.66; color: #414E5A; color: rgba(65, 78, 90, 0.9); }
.sqr_icon .icon { display: block; margin-bottom: 15px; }

.icon { display: inline-block; vertical-align: baseline; }

.big-title { display: block; font-family: "FuturaNewBold", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 56px; line-height: 1; text-transform: uppercase; color: #FFF; text-shadow: 0 2px 30px rgba(16, 34, 49, 0.75); }

.clearfix { display: table; clear: both; }

.b { width: 1080px; min-height: 360px; clear: both; }

.b_3 { margin-left: -360px; }

.b_2 { margin-left: -180px; }

.b_1 { margin-left: -90px; }

.b_r { float: right; }
.b_r.b_3 { margin-right: -360px; }
.b_r.b_2 { margin-right: -180px; }
.b_r.b_1 { margin-right: -90px; }

.b_news { *zoom: 1; }
.b_news:after { content: " "; display: table; clear: both; }
.b_news > .logo, .b_news > .news, .b_news > .news-list, .b_news > .button { float: left; }

.b_promo1 { position: relative; font-size: 0; width: auto; }
.b_promo1 > .sqr { display: inline-block; vertical-align: bottom; }
.b_promo1 .sqr_promo:first-child { position: absolute; top: -180px; left: 0; }

.b_promo2 { position: relative; *zoom: 1; }
.b_promo2:after { content: " "; display: table; clear: both; }
.b_promo2 > .sqr { float: left; }

.button { display: inline-block; vertical-align: top; position: relative; background: #FFF; height: 90px; padding: 0 10px; text-align: center; -webkit-appearance: none; font-family: "FuturaNewMedium", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 18px; text-transform: uppercase; letter-spacing: -0.03em; color: #D12023; overflow: hidden; -webkit-transition: color 0.15s linear; transition: color 0.15s linear; }
.button:before { content: ""; position: absolute; z-index: 0; top: 0; left: 0; width: 100%; height: 100%; background: #D12023; -webkit-transition: all 0.15s linear; transition: all 0.15s linear; -webkit-transform: translateX(-100%); -ms-transform: translateX(-100%); transform: translateX(-100%); visibility: hidden; }
.button .icon-arr { display: inline-block; vertical-align: middle; margin: -1px 0 0 10px; -webkit-transition: -webkit-transform 0.15s linear; transition: transform 0.15s linear; }
.button:hover { color: #FFF; }
.button:hover .icon-arr { -webkit-transform: translateX(40px); -ms-transform: translateX(40px); transform: translateX(40px); }
.button:hover:before { visibility: visible; -webkit-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0); }

.button__text { display: inline-block; vertical-align: middle; color: inherit; position: relative; z-index: 1; }

a.button { line-height: 90px; text-decoration: none; }
a.button:hover { text-decoration: none; }

.button_vert .button__text { position: absolute; top: 50%; left: 50%; white-space: nowrap; -webkit-transform-origin: center center; -ms-transform-origin: center center; transform-origin: center center; -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg); -ms-transform: translateX(-50%) translateY(-50%) rotate(-90deg); transform: translateX(-50%) translateY(-50%) rotate(-90deg); }

.button_red { background: #D12023; color: #FFF; }
.button_red:before { background: #A10D10; }
.button_red:hover { color: #FFF; }

.title { display: block; font-size: 32px; line-height: 1; text-transform: uppercase; font-family: "FuturaNewBold", Helvetica, Arial, sans-serif; font-weight: normal; color: #2B3B48; letter-spacing: -0.02em; }

.number { display: inline-block; vertical-align: middle; text-align: center; }
.number sup { vertical-align: super; font-size: 27px; }

.number__big { display: block; font-family: "FuturaNewLight", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 54px; font-style: normal; line-height: 1; letter-spacing: -0.02em; color: #3B4D5D; }

.number__small { display: block; margin-top: 7px; font-size: 12px; line-height: 1.5; font-family: "Trebuchet MS", Helvetica, Arial, sans-serif; letter-spacing: 0.02em; font-style: italic; color: #33424f; color: rgba(51, 66, 79, 0.5); }

.number_light .number__big { color: #FFF; }
.number_light .number__small { color: #FFF; color: rgba(255, 255, 255, 0.5); }

.w450 { width: 450px; }

.w360 { width: 360px; }

.w190 { width: 180px; }

.w90 { width: 90px; }

.h450 { height: 450px; }

.h360 { height: 360px; }

.h190 { height: 180px; }

.h90 { height: 90px; }

.toparea { position: relative; z-index: 2; min-height: 540px; }
.toparea .header { position: absolute; z-index: 1; top: 0; left: 0; right: 0; }
.toparea .big-title { position: absolute; z-index: 1; bottom: 100px; right: 0; max-width: 550px; text-align: right; }

.toparea__inner { position: relative; min-height: 540px; }

.header { *zoom: 1; }
.header:after { content: " "; display: table; clear: both; }

.header__logo { float: left; }

.header__right { float: right; font-size: 0; }
.header__right .sqr, .header__right .menu { display: inline-block; vertical-align: top; }

.menu { width: 360px; height: 180px; padding: 0 40px; background: #FFF; box-sizing: border-box; text-align: center; font-size: 0; white-space: nowrap; }
.menu:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }

.menu__list { display: inline-block; vertical-align: middle; width: 100%; white-space: normal; font-size: 0; margin-bottom: -8px; text-align: left; }
.menu__list li { display: inline-block; vertical-align: top; width: 50%; margin-bottom: 8px; }

.menu__link { display: inline-block; vertical-align: top; font-size: 11px; text-transform: uppercase; line-height: 1; font-family: "FuturaNewBold", Helvetica, Arial, sans-serif; font-weight: normal; letter-spacing: 0.05em; padding: 10px 0; color: #3B4D5D; text-decoration: none; -webkit-transition: color 0.15s linear; transition: color 0.15s linear; }
.menu__link:hover { color: #D12023; }

.slider { position: absolute; z-index: 0; top: 0; right: 180px; width: 1250px; height: 540px; overflow: hidden; box-shadow: 100px 95px 50px -85px rgba(22, 38, 52, 0.6); }
.slider.slick-slider { overflow: visible; }

.slider__item { width: 1250px; height: 540px; background-position: center center; background-size: cover; overflow: hidden; }
.slider__item img { display: block; max-width: 100%; }

.category { position: relative; z-index: 0; display: block; float: left; box-sizing: border-box; width: 33.333%; max-width: 360px; height: 360px; font-size: 12px; padding: 100px 90px 0; background: #3B4D5D; text-decoration: none; -webkit-transition: all 0.15s linear; transition: all 0.15s linear; }
.category:first-child { background: #314251; }
.category:nth-child(2) { background: #354656; }
.category:hover { z-index: 3; background: #D12023; padding-top: 80px; box-shadow: 0 0 0 10px #D12023, 0 0 73px 0 rgba(38, 55, 70, 0.75); }
.category:hover .category__title .icon { -webkit-transform: translateX(50px); -ms-transform: translateX(50px); transform: translateX(50px); }
.category:hover .category__more { opacity: 1; height: auto; margin-top: 60px; }

.category__number { position: absolute; top: -25px; right: 100%; font-family: "FuturaNewBold", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 50px; line-height: 1; margin-right: -2px; color: #FFF; color: rgba(255, 255, 255, 0.03); }

.category__title { display: inline-block; position: relative; padding-right: 32px; font-family: "FuturaNewMedium", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 24px; text-transform: uppercase; color: #FFF; }
.category__title .icon { position: absolute; top: 50%; right: 0; margin-top: -11px; -webkit-transition: -webkit-transform 0.15s linear; transition: transform 0.15s linear; }

.category__text { display: block; margin-top: 28px; font-size: 12px; line-height: 1.66; letter-spacing: 0.02em; color: #FFF; color: rgba(255, 255, 255, 0.7); }

.category__more { height: 0; opacity: 0; display: block; font-family: "FuturaNewBold", Helvetica, Arial, sans-serif; font-weight: normal; letter-spacing: 0.15em; font-size: 11px; text-transform: uppercase; color: #FFF; line-height: 1.8; -webkit-transition: all 0.15s linear; transition: all 0.15s linear; }

.news { display: block; position: relative; z-index: 1; width: 450px; box-sizing: border-box; background: #FFF; }

.news__pic { height: 180px; overflow: hidden; }

.news__footer { height: 180px; padding: 40px 35px 35px 125px; position: relative; box-sizing: border-box; overflow: hidden; }

.news__date { position: absolute; top: 0; left: 0; width: 90px; height: 100%; padding-top: 60px; box-sizing: border-box; background: #D12023; text-align: center; }
.news__date big { display: block; font-size: 50px; font-family: "FuturaNewLight", Helvetica, Arial, sans-serif; font-weight: normal; color: #FFF; letter-spacing: -0.05em; line-height: 1; }
.news__date small { display: block; margin-top: 7px; font-size: 9px; text-transform: uppercase; color: #FFF; color: rgba(255, 255, 255, 0.5); letter-spacing: 0.1em; }

.news__title { font-size: 18px; line-height: 1.333; font-family: "FuturaNewMedium", Helvetica, Arial, sans-serif; font-weight: normal; color: #D12023; text-decoration: none; }
.news__title:hover { text-decoration: underline; }

.news-list { width: 450px; box-sizing: border-box; padding: 0 65px 0 90px; background: #F2F5F6; }

.news-list__item { min-height: 180px; padding-top: 35px; box-sizing: border-box; border-top: 1px solid #D4DBDD; }
.news-list__item:first-child { padding-top: 50px; border-top: none; }

.news-list__title { font-size: 18px; line-height: 1.333; font-family: "FuturaNewMedium", Helvetica, Arial, sans-serif; font-weight: normal; color: #33424f; text-decoration: none; }
.news-list__title:hover { text-decoration: underline; }

.news-list__date { display: block; margin-top: 13px; font-size: 12px; line-height: 1.67; color: #33424f; font-style: italic; letter-spacing: 0.02em; }

.location { padding: 85px 450px 175px 35px; position: relative; box-sizing: border-box; min-height: 540px; background: #FFF; *zoom: 1; }
.location:after { content: " "; display: table; clear: both; }
.location .title { padding-left: 145px; margin-bottom: 45px; }
.location .button { position: absolute; bottom: 45px; right: 360px; }

.location__map { position: absolute; top: 0; right: 0; bottom: 0; width: 360px; background: #F0EDE4; box-shadow: inset 5px 0 10px -5px rgba(22, 38, 52, 0.2); overflow: hidden; }
.location__map:before { content: ""; position: absolute; top: 85px; left: -9px; width: 18px; height: 18px; background: #FFF; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); box-shadow: 0 0 7px 0 rgba(22, 38, 52, 0.2); }

.location__about { float: right; width: 60.5042%; font-size: 13px; line-height: 1.5; color: #33424f; color: rgba(51, 66, 79, 0.9); letter-spacing: 0.02em; }
.location__about strong { font-size: 18px; line-height: 1.333; letter-spacing: 0; font-family: "FuturaNewMedium", Helvetica, Arial, sans-serif; font-weight: normal; color: #33424f; }
.location__about p ~ p { margin-top: 20px; }

.location__name { display: block; float: left; width: 31.93277%; margin-top: 3px; text-align: right; font-style: italic; color: #33424f; color: rgba(51, 66, 79, 0.7); font-size: 12px; line-height: 1.66; letter-spacing: 0.02em; }

.has-shadow { box-shadow: 25px 25px 80px -20px rgba(22, 38, 52, 0.2); }



/*# sourceMappingURL=screen.css.map */