extends _layout

block title
  title About

block content

  include includes/_header-content

  .l
    .l-main
      <!-- begin page-header -->
      header.page-header
        ul.breadcrumbs
          li
            a(href="#")
              | Главная
          li
            a(href="#")
              | О комплексе

        h2.bold-title
          | ТРК Тринити

        a.button.button_sqr.button_red.animation.left-bottom(href="#")
          .button__inner
            i.icon.icon-pdf
            strong
              | Скачать <br> презентацию

        .contacts.animation.right-bottom
          span.contacts__label
            | По вопросам аренды звоните:
          .contacts__phone
            a(href="tel:+375152660299")
              | +375 (15) 266-02-99
          .contacts__email
            a(href="mailto:info@3niti.by")
              | info@3niti.by
      <!-- end page-header -->

      <!-- begin categories -->
      .line.animation.left
        a.category.category_narrow(href="#")
          .category__title
            span.category__number 01
            h3 Бизнес
            i.icon.icon-arr

        a.category.category_narrow(href="#")
          .category__title
            span.category__number 02
            h3 Торговля
            i.icon.icon-arr

        a.category.category_narrow(href="#")
          .category__title
            span.category__number 03
            h3 Развлечения
            i.icon.icon-arr
      <!-- end categories -->

      <!-- begin content -->
      .l-main__inner
        .head.head_first
          h3.title.title_first
            | Многофункциональный торговый комплекс
          strong.subtitle
            | Уникальный торговый центр «Тринити» располагается
            | в 7 минутах от центра города,
            | где находятся главные исторические достопримечательности
            | Гродно, посещаемые туристами.

        <!-- begin figure -->
        figure.figure
          figcaption.figure__left
            p
              | В 700 м от ТРЦ «Тринити» находится
              | комфортабельная гостиница «Турист»,
              | а в 2,5 км располагается один из лучших
              | ночных клубов Беларуси — «База».

            dl.number.number_red.animation.left
              dt.number__big
                | 159 010 м<sup>2</sup>
              dd.number__small
                | Общая площадь торгового-центра
            p
              | Добраться до центра города можно за
              | 15 минут на любом из 30 маршрутов
              | общественного транспорта.

          .figure__right

            .gallery.has-shadow.animation.right-bottom
              .gallery__pictures.js-gallery
                div
                  img(src="img/gallery/gallery1.jpg", alt="")
                div
                  img(src="img/gallery/gallery1.jpg", alt="")
                div
                  img(src="img/gallery/gallery1.jpg", alt="")
                div
                  img(src="img/gallery/gallery1.jpg", alt="")
                div
                  img(src="img/gallery/gallery1.jpg", alt="")
                div
                  img(src="img/gallery/gallery1.jpg", alt="")
                div
                  img(src="img/gallery/gallery1.jpg", alt="")

              .gallery__box.animation.left-top
                .gallery__nav
                  button.gallery__prev
                    i.icon.icon-prev
                  button.gallery__next
                    i.icon.icon-next
                  .gallery__counter
                    span.gallery__counter-current
                      | 01
                    span.gallery__counter-all
                      | 7

                .gallery__captions.js-gallery-captions
                  div
                    | Комфортабельные офисные помещения для ведения бизнеса
                  div
                    | Комфортабельные офисные помещения для ведения бизнеса
                  div
                    | Комфортабельные офисные помещения для ведения бизнеса
                  div
                    | Комфортабельные офисные помещения для ведения бизнеса
                  div
                    | Комфортабельные офисные помещения для ведения бизнеса
                  div
                    | Комфортабельные офисные помещения для ведения бизнеса
                  div
                    | Комфортабельные офисные помещения для ведения бизнеса
        <!-- end figure -->

        .head
          h3.title
            | Распределение площадей торгового центра
          strong.subtitle
            | Наш бизнес-центр оснащен самыми новыми технологиями, среди которых:

        .numbers-group
          dl.number.number_red-mod.animation.left-top
            dt.number__big
              | 70 945 м<sup>2</sup>
            dd.number__small
              | Общая площадь подземного <br> паркинга

          dl.number.number_red-mod.animation.right-top
            dt.number__big
              | 6 280 м<sup>2</sup>
            dd.number__small
              | Общая площадь офисного <br> здания

          dl.number.number_red-mod.animation.left-bottom
            dt.number__big
              | 50 150 м<sup>2</sup>
            dd.number__small
              | Общая площадь торговых <br> помещений

          dl.number.number_red-mod.animation.right-bottom
            dt.number__big
              | 10 645 м<sup>2</sup>
            dd.number__small
              | Общая площадь <br> развлекательной зоны <br> и зоны для отдыха

        .head
          h3.title
            | Генеральный план торгово-развлекательного <br> центра тринити
          strong.subtitle
            | Весь наш бизнес-центр поделен на зоны.

        <!-- begin tabs -->
        .tabs
          .tabs__main.animation.left
            .tabs__content.is-active(data-tab="1")
              img(src="img/floor.jpg", alt="")
            .tabs__content(data-tab="2")
              img(src="http://placehold.it/720x460/ff0000&text=tab2")
            .tabs__content(data-tab="3")
              img(src="http://placehold.it/720x460/00ffff&text=tab3")
          .tabs__buttons.animation.right
            button.tabs__button.is-active(data-tab="1")
              | 1
            button.tabs__button(data-tab="2")
              | 2
            button.tabs__button(data-tab="3")
              | 3
        <!-- end tabs -->


        .head
          h3.title
            | Распределение площадей торгового центра
          strong.subtitle
            | Весь наш тогово-равзлекательный центр разделен на зоны, среди которых:

        .icons-group
          figure.small-figure.animation.left-top
            .small-figure__icon
              i.icon.icon-food
            fiqcaption.small-figure__text
              | Общественное питание: <strong>3 130 м<sup>2</sup></strong>

          figure.small-figure.animation.top
            .small-figure__icon
              i.icon.icon-boutique
            fiqcaption.small-figure__text
              | Бутики и торговые площади: <strong>31 255 м<sup>2</sup></strong>

          figure.small-figure.animation.top
            .small-figure__icon
              i.icon.icon-bowling
            fiqcaption.small-figure__text
              | Боулинг: <strong>1 555 м<sup>2</sup></strong>

          figure.small-figure.animation.right-top
            .small-figure__icon
              i.icon.icon-film
            fiqcaption.small-figure__text
              | Кинотеатр: <strong>3 625 м<sup>2</sup></strong>

          figure.small-figure.animation.left-bottom
            .small-figure__icon
              i.icon.icon-office
            fiqcaption.small-figure__text
              | Офисные помещения: <strong>6 280 м<sup>2</sup></strong>

          figure.small-figure.animation.bottom
            .small-figure__icon
              i.icon.icon-oma
            fiqcaption.small-figure__text
              | Строймаркет “ОМА”: <strong>10 440 м<sup>2</sup></strong>

          figure.small-figure.animation.bottom
            .small-figure__icon
              i.icon.icon-euroopt
            fiqcaption.small-figure__text
              | Гипермаркет “Евроопт”: <strong>8 445 м<sup>2</sup></strong>

          figure.small-figure.animation.right-bottom
            .small-figure__icon
              i.icon.icon-ice-arena
            fiqcaption.small-figure__text
              | Ледовая арена: <strong>2 340 м<sup>2</sup></strong>


        .head
          h3.title
            | Девелоперы и инвесторы проекта

        .l-two-col
          .l-column.animation.left-top
            figure.small-figure.small-figure_big-icon
              .small-figure__icon
                i.icon.icon-conte
              fiqcaption.small-figure__text
                | Команда “ОМА”- лмдер на рынке по про-<br>
                | даже строительных материалов и инстру-<br>
                | ментов, товаров для дома, сада и огоро-<br>
                | да.
          .l-column.animation.right
            figure.small-figure.small-figure_big-icon
              .small-figure__icon
                i.icon.icon-triniti
              fiqcaption.small-figure__text
                | Компания “Евроопт” - один из крупней-<br>
                | ших операторов продовольственного рын-<br>
                | ка Республики Беларусь с развитой ин-<br>
                | фраструктурой, логистическими центра-<br>
                | ми и высококвалифицированным персо-<br>
                | налом.
      <!-- end content -->

  include includes/_footer