extends _layout

block title
  title About

block content

  include includes/_header-content

  .l
    .l-main
      <!-- begin page-header -->
      header.page-header
        ul.breadcrumbs
          li
            a(href="#")
              | Главная
          li
            a(href="#")
              | О комплексе

        h2.bold-title
          | ТРК Тринити

        a.sqr-button(href="#")
          .sqr-button__inner
            i.icon.icon-pdf
            strong
              | Скачать <br> презентацию

        .contacts
          span.contacts__label
            | По вопросам аренды звоните:
          a.contacts__phone(href="tel:+375152660299")
            | +375 (15) 266-02-99
          a.contacts__email(href="mailto:info@3niti.by")
            | info@3niti.by
      <!-- end page-header -->

      <!-- begin categories -->
      .line
        a.category.category_narrow(href="#")
          .category__title
            span.category__number 01
            h3 Бизнес
            i.icon.icon-arr

        a.category.category_narrow(href="#")
          .category__title
            span.category__number 02
            h3 Торговля
            i.icon.icon-arr

        a.category.category_narrow(href="#")
          .category__title
            span.category__number 03
            h3 Развлечения
            i.icon.icon-arr
      <!-- end categories -->

      <!-- begin content -->
      .l-main__inner
        h3.title
          | Многофункциональный торговый комплекс
        strong.subtitle
          | Уникальный торговый центр «Тринити» располагается
          | в 7 минутах от центра города,
          | где находятся главные исторические достопримечательности
          | Гродно, посещаемые туристами.

        <!-- begin figure -->
        figure.figure
          figcaption.figure__left
            p
              | В 700 м от ТРЦ «Тринити» находится
              | комфортабельная гостиница «Турист»,
              | а в 2,5 км располагается один из лучших
              | ночных клубов Беларуси — «База».

            dl.number.number_red
              dt.number__big
                | 159 010 м<sup>2</sup>
              dd.number__small
                | Общая площадь торгового-центра
            p
              | Добраться до центра города можно за
              | 15 минут на любом из 30 маршрутов
              | общественного транспорта.

          .figure__right

            .gallery.has-shadow
              .gallery__pictures
                div
                  img(src="img/gallery/gallery1.jpg", alt="")
              .gallery__box
                .gallery__nav
                  button.gallery__prev
                    i.icon.icon-prev
                  button.gallery__next
                    i.icon.icon-next
                  .gallery__counter
                    span.gellery__counter-current
                      | 01
                    span.gellery__counter-all
                      | 07

                .gallery__captions
                  div
                    | Комфортабельные офисные помещения для ведения бизнеса
        <!-- end figure -->

        h3.title
          | Распределение площадей торгового центра
        strong.subtitle
          | Наш бизнес-центр оснащен самыми новыми технологиями, среди которых:

        .numbers-group
          dl.number.number_red-mod
            dt.number__big
              | 70 945 м<sup>2</sup>
            dd.number__small
              | Общая площадь подземного <br> паркинга

          dl.number.number_red-mod
            dt.number__big
              | 6 280 м<sup>2</sup>
            dd.number__small
              | Общая площадь офисного <br> здания

          dl.number.number_red-mod
            dt.number__big
              | 50 150 м<sup>2</sup>
            dd.number__small
              | Общая площадь торговых <br> помещений

          dl.number.number_red-mod
            dt.number__big
              | 10 645 м<sup>2</sup>
            dd.number__small
              | Общая площадь <br> развлекательной зоны <br> и зоны для отдыха

        h3.title
          | Генеральный план торгово-развлекательного <br> центра тринити
        strong.subtitle
          | Весь наш бизнес-центр поделен на зоны.

        <!-- begin tabs -->
        .tabs
          .tabs__main
            img(src="img/floor.jpg", alt="")
          .tabs__buttons
            button.tabs__button(type="button")
              | 1
            button.tabs__button(type="button")
              | 2
            button.tabs__button(type="button")
              | 3
        <!-- end tabs -->


        h3.title
          | Распределение площадей торгового центра
        strong.subtitle
          | Весь наш тогово-равзлекательный центр разделен на зоны, среди которых:

        .icons-group
          figure.small-figure
            i.icon.icon-food
            fiqcaption
              | Общественное питание: <strong>3 130 м<sup>2</sup></strong>

          figure.small-figure
            i.icon.icon-boutique
            fiqcaption
              | Бутики и торговые площади: <strong>31 255 м<sup>2</sup></strong>

          figure.small-figure
            i.icon.icon-bowling
            fiqcaption
              | Боулинг: <strong>1 555 м<sup>2</sup></strong>

          figure.small-figure
            i.icon.icon-film
            fiqcaption
              | Кинотеатр: <strong>3 625 м<sup>2</sup></strong>

          figure.small-figure
            i.icon.icon-office
            fiqcaption
              | Офисные помещения: <strong>6 280 м<sup>2</sup></strong>

          figure.small-figure
            i.icon.icon-oma
            fiqcaption
              | Строймаркет “ОМА”: <strong>10 440 м<sup>2</sup></strong>

          figure.small-figure
            i.icon.icon-euroopt
            fiqcaption
              | Гипермаркет “Евроопт”: <strong>8 445 м<sup>2</sup></strong>

          figure.small-figure
            i.icon.icon-ice-arena
            fiqcaption
              | Ледовая арена: <strong>2 340 м<sup>2</sup></strong>


        h3.title
          | Девелоперы и инвесторы проекта

        figure.small-figure
          i.icon.icon-conte
          fiqcaption
            | Команда “ОМА”- лмдер на рынке по про-<br>
            | даже строительных материалов и инстру-<br>
            | ментов, товаров для дома, сада и огоро-<br>
            | да.

        figure.small-figure
          i.icon.icon-triniti
          fiqcaption
            | Компания “Евроопт” - один из крупней-<br>
            | ших операторов продовольственного рын-<br>
            | ка Республики Беларусь с развитой ин-<br>
            | фраструктурой, логистическими центра-<br>
            | ми и высококвалифицированным персо-<br>
            | налом.


      <!-- end content -->

  include includes/_footer