extends _layout

block title
  title Business

block content

  include includes/_header-content

  .l
    .l-main
      <!-- begin page-header -->
      header.page-header
        ul.breadcrumbs
          li
            a(href="#")
              | Главная
          li
            a(href="#")
              | О комплексе
          li
            a(href="#")
              | Бизнес

        h2.bold-title
          | Бизнес-центр

        a.button.button_sqr.button_red(href="#")
          .button__inner
            i.icon.icon-pdf
            strong
              | Скачать <br> презентацию

        .contacts
          span.contacts__label
            | По вопросам аренды звоните:
          a.contacts__phone(href="tel:+375152660299")
            | +375 (15) 266-02-99
          a.contacts__email(href="mailto:info@3niti.by")
            | info@3niti.by
      <!-- end page-header -->

      <!-- begin categories -->
      .line
        a.category.category_narrow.is-active(href="#")
          .category__title
            span.category__number 01
            h3 Бизнес
            i.icon.icon-arr

        a.category.category_narrow(href="#")
          .category__title
            span.category__number 02
            h3 Торговля
            i.icon.icon-arr

        a.category.category_narrow(href="#")
          .category__title
            span.category__number 03
            h3 Развлечения
            i.icon.icon-arr
      <!-- end categories -->

      <!-- begin content -->
      .l-main__inner
        .head.head_first
          h3.title.title_first
            | сдача помещений под офисы в долгосрочную аренду
          strong.subtitle
            | Уникальный торговый центр «Тринити» располагается
            | в 7 минутах от центра города, где находятся главные исторические
            | достопримечательности Гродно, посещаемые туристами.


        <!-- begin figure -->
        .figure
          .figure__left
            p
              | В 700 м от ТРЦ «Тринити» находится
              | комфортабельная гостиница «Турист»,
              | а в 2,5 км располагается один из лучших
              | ночных клубов Беларуси — «База».

            dl.number.number_red
              dt.number__big
                | 6 280 м<sup>2</sup>
              dd.number__small
                | Общая площадь бизнес-центра
            p
              | Добраться до центра города можно за
              | 15 минут на любом из 30 маршрутов
              | общественного транспорта.

          .figure__right

            figure.gallery.has-shadow
              .gallery__pictures
                div
                  img(src="img/gallery/gallery2.jpg", alt="")

              figcaption.gallery__box
                .gallery__captions
                  | Комфортабельные офисные помещения для ведения бизнеса

        <!-- end figure -->

        .head
          h3.title
            | Преимущества нашего бизнес-центра
          strong.subtitle
            | Наш бизнес-центр оснащен самыми новыми технологиями, среди которых:

        ul.line-marked-list.line-marked-list_half
          li
            | приточно-вытяжной
            br
            | вентиляции с рекуперацией
            br
            | тепла и чиллером с
            br
            | функцией теплового насоса
          li
            | управления зданием:
            br
            | система автоматизации
            br
            | и система контроля и управления энергоресурсами.
          li
            | телекоммуникаций –
            br
            | строительство оптической
            br
            | сети (PON),сети радиофи-
            br
            | кации и телефонизации.
          li
            | импортное лифтовое
            br
            | оборудование преимум
            br
            | класса.

        .head
          h3.title
            | Преимущества нашего бизнес-центра
          strong.subtitle
            | Уникальный торговый центр «Тринити» располагается в
            | 7 минутах от центра города, где находятся главные исторические
            | достопримечательности Гродно, посещаемые туристами.

        figure.text-figure
          .text-figure__left.has-shadow
            img(src="img/picture.jpg", alt="")
          figcaption.text-figure__right
            .text
              p
                | Новый торгово-развлекательный комплекс будет располагаться
                | в 7 минутах от центра города, где находятся главные исторические
                | достопримечательности г.Гродно, посещаемые туристами.
                | В 700 метрах от ТРЦ «Тринити» находится комфортабельная гостиница
                | «Турист», а в 2,5 км – один из лучших ночных клубов Беларуси «БАЗА».
                | Общедоступность ТРЦ обусловлена хорошо развитой
                | транспортной инфраструктурой города.

              p
                i
                  | Новый торгово-развлекательный комплекс будет располагаться
                  | в 7 минутах от центра города, где находятся главные исторические
                  | достопримечательности г.Гродно, посещаемые туристами.
                  | В 700 метрах от ТРЦ «Тринити» находится комфортабельная гостиница
                  | «Турист», а в 2,5 км – один из лучших ночных клубов Беларуси «БАЗА».
                  | Общедоступность ТРЦ обусловлена хорошо развитой транспортной
                  | инфраструктурой города.

        .head
          h3.title
            | Бизнес-центр для успешных компаний
          strong.subtitle
            | 4 причины выбрать наш бизнес-центр “Тринити”:

        ol.number-list.number-list_counter
          li
            strong.number-list__title
              | Транспортная доступность
            p
              | 30 маршрутов общественного транспорта, плюс бесплатный 3-этажный паркинг
          li
            strong.number-list__title
              | Развитая инфраструктура
            p
              | 90 000 человек населения охватываемого района
          li
            strong.number-list__title
              | Комфортабельные помещения
            p
              | Наши офисы подойдут как для маленьких,
              | так и крупных компаний
          li
            strong.number-list__title крупный ТРК Гродно
            p
              | Первый и единственный развлекательный
              | торговый-центр города Гродно

        p.important-text
          | Состоялось долгожданное торжественное открытие гипермаркета бытовой
          | техники и электроники «Корона Техно» в торговом центре «Замок».
          br
          | Гостям было чему порадоваться и удивиться. Праздник удался на славу.
      <!-- end content -->

  include includes/_footer