extends _layout

block title
  title Zasroischik

block header-big-title
  | Новости

block content

  include includes/_header-content

  <!-- begin content -->
  .l
    .l-article

      ul.breadcrumbs
        li
          a(href="#")
            | Главная
        li
          a(href="#")
            | Новости
        li
          a(href="#")
            | Торжественное открытие бизнес-центра в Гродно

      <!-- begin article -->
      article.article

        .article__date
          big 27
          small Сентября

        h1.bold-title
          | Торжественное открытие
          br
          | бизнес-центра в гродно

        strong.subtitle
          | Уникальный торговый центр «<em class="bold-red">Тринити</em>»
          | располагается в 7 минутах от центра города,
          | где находятся главные исторические
          | достопримечательности Гродно, посещаемые туристами.

        figure.gallery.gallery_right.has-shadow
          .gallery__pictures
            div
              img(src="img/gallery/gallery2.jpg", alt="")

          figcaption.gallery__box
            .gallery__captions
              | Так выглядел зал для фуршета.
              | Среди гостей собралось много известных личностей

        p
          | В 700 м от ТРЦ «Тринити» находится комфортабельная
          | гостиница «<b><i>Турист</i></b>», а в 2,5 км располагается один
          | из лучших ночных клубов Беларуси — «База».
          | Добраться до центра города можно за 15 минут на любом
          | из 30 маршрутов общественного транспорта.
          | Добраться до центра города можно за 15 минут на
          | любом из 30 маршрутов общественного транспорта.

        p
          | В 700 м от ТРЦ «Тринити» находится комфортабельная
          | гостиница «Турист», а в 2,5 км располагается один
          | из лучших ночных клубов Беларуси — «База».
          | Добраться до центра города можно за 15 минут на любом
          | из 30 маршрутов общественного транспорта.
          | Добраться до центра города можно за 15 минут на
          | любом из 30 маршрутов общественного транспорта.

        blockquote
          b
            i
              | Состоялось долгожданное торжественное открытие гипермаркета
              | бытовой техники и электроники «Корона Техно»
              | в торговом центре «Замок». Гостям было чему порадоваться
              | и удивиться. Праздник удался на славу.
          cite
            |Ведущий БТ Евгений Перлин

        p
          | Зрители окунулись в атмосферу средневекового города
          | и смогли познакомиться с уникальными персонажами.
          | Это и палач, который доказал всем, что старая техника -
          | настоящая пытка, и сред-невековые рыцари, которые вели постоянные
          | битвы за выгодные покупки в Короне Техно,
          | и уличные артисты, которые провели оригинальную
          | презентацию нового магазина, и веселый ведущий-скоморох,
          | и многие другие.

        p
          b Примеры списков:

        ul
          li
            | Зрители окунулись в атмосферу средневекового города
          li
            | и смогли познакомиться с уникальными персонажами.
          li
            | Это и палач, который доказал всем, что старая техника

        ol
          li
            | Зрители окунулись в атмосферу средневекового города
          li
            | и смогли познакомиться с уникальными персонажами.
          li
            | Это и палач, который доказал всем, что старая техника

      <!-- end article -->

      .nav-buttons
        button.button.button_prev(type="button")
          i.icon.icon-arr-left
          span.button__text
            | Назад ко всем новостям
        button.button.button_next(type="button")
          span.button__text
            | Следующая новость
          i.icon.icon-arr

  <!-- end content -->

  include includes/_footer