extends _layout

block title
  title Zasroischik

block header-big-title
  | Новости

block content

  include includes/_header-content

  <!-- begin content -->
  .l
    .l-news

      .news-box

        .news-box__left.animation.left
          .page-header.page-header_news
            ul.breadcrumbs
              li
                a(href="#")
                  | Главная
              li
                a(href="#")
                  | Новости

            .paginator
              button.paginator__button.is-active(type="button") 1
              button.paginator__button(type="button") 2
              button.paginator__button(type="button") 3
              button.paginator__button(type="button") 4
              button.paginator__button(type="button") …
              button.paginator__button(type="button") 80

        .news-box__right.animation.right
          a.news.has-shadow(href="#")
            .news__pic
              img(src="img/news/news2.jpg", alt="")
            .news__footer
              .news__date
                big 13
                small Сентября
              strong.news__title
                | Торжественное открытие торгового-центра пройдет 25 марта 2016 года!
                | Спешите! Вас ждут подарки и море развлечений

        .news-box__left.animation.bottom
          a.news.has-shadow(href="#")
            .news__pic
              img(src="img/news/news.jpg", alt="")
            .news__footer
              .news__date
                big 7
                small Сентября
              strong.news__title
                | Уникальный торговый центр «Тринити» располагается в 7 минутах
                | от центра города, где находятся.

        .news-box__right.animation.bottom
          ul.news-list.news-list_dark
            li.news-list__item
              a.news-list__title(href="#")
                | Уникальный торговый центр «Тринити» располагается в 7
                | минутах от центра города.
              span.news-list__date
                | 25 Сентября 2015
            li.news-list__item
              a.news-list__title(href="#")
                | Уникальный торговый центр «Тринити»
                | располагается в 7 минутах от центра города, где находятся.
              span.news-list__date
                | 25 Сентября 2015

        .news-box__left.animation.left
          ul.news-list
            li.news-list__item
              a.news-list__title(href="#")
                | Уникальный торговый центр «Тринити» располагается в 7
                | минутах от центра города.
              span.news-list__date
                | 25 Сентября 2015
            li.news-list__item
              a.news-list__title(href="#")
                | Уникальный торговый центр «Тринити»
                | располагается в 7 минутах от центра города, где находятся.
              span.news-list__date
                | 25 Сентября 2015

        .news-box__right.animation.bottom
          a.news.has-shadow(href="#")
            .news__pic
              img(src="img/news/news4.jpg", alt="")
            .news__footer
              .news__date
                big 01
                small Сентября
              strong.news__title
                | Торжественное открытие торгового-центра пройдет 25 марта 2016 года!
                | Спешите! Вас ждут подарки и море развлечений

        .news-box__left.animation.bottom
          a.news.has-shadow(href="#")
            .news__pic
              img(src="img/news/news3.jpg", alt="")
            .news__footer
              .news__date
                big 29
                small Сентября
              strong.news__title
                | Уникальный торговый центр «Тринити» располагается в 7 минутах
                | от центра города, где находятся.

        .news-box__right.animation.right
          ul.news-list.news-list_dark
            li.news-list__item
              a.news-list__title(href="#")
                | Уникальный торговый центр «Тринити» располагается в 7
                | минутах от центра города.
              span.news-list__date
                | 25 Сентября 2015
            li.news-list__item
              a.news-list__title(href="#")
                | Уникальный торговый центр «Тринити»
                | располагается в 7 минутах от центра города, где находятся.
              span.news-list__date
                | 25 Сентября 2015

        footer.news-box__footer.animation.bottom
          .paginator
            button.paginator__button.is-active(type="button") 1
            button.paginator__button(type="button") 2
            button.paginator__button(type="button") 3
            button.paginator__button(type="button") 4
            button.paginator__button(type="button") …
            button.paginator__button(type="button") 80
  <!-- end content -->


  include includes/_footer